@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/app-development/secret-society/Frame07.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Developed a cross-platform application for The Secret Society that links top businesses with content producers and influencers to promote them on social media. High security and a seamless user experience across all mobile devices are aspects of the app.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>The Secret Society</h3>
			<p>The Secret Society is a leading platform connecting influencers, content creators, and lifestyle people with premier brands, products, and experiences for social media promotion.</p>

			<h3>App Features</h3>
			<p>The aim was to create a platform for brands that want to connect with influencers, content creators, and lifestyle people. We made it cross-platform with high security and compatibility for all mobile devices. We used modern technology to make it perfect and smooth for users.</p>
			<ul>
				<li>We developed it to be compatible with 1000+ Android and iOS devices.</li>
				<li>The app was developed at a minimal size of 46 MB.</li>
				<li>We developed the app for Android and iOS 6.0 and up.</li>
				<li>By using modern technologies we made the app smooth and responsive.</li>
			</ul>

			<h3>Client Testimonial</h3>
			<p>I'm surprised by the pace of app development. It was completely perfect in all aspects. The project was delivered on time with all the working functionalities. The app is smooth and fast resulting in happy users.</p>

			<h3>App Summary</h3>
			<p>The Secret Society is the leading marketplace for influencers, content creators and lifestyle people seeking unique and complementary experiences in exchange for social media promotion.</p>

			<h3>Compatibility</h3>
			<p>This is a cross-platform app compatible with both Android and iOS.</p>

			<h3>Downloads</h3>
			<p>The app has been downloaded over 5000+ times on Playstore with daily 500+ concurrent users.</p>

			<h3>Download Size</h3>
			<p>It was developed to minimise the download size to reduce the load on the consumer’s device.</p>

			<h3>Security</h3>
			<p>Security was the primary objective of the development. The data is transferred via an encrypted channel. Even though your data is securely stored, you can remove your data easily without any restrictions.</p>

		</div>
	</div>
</section>