@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/app-development/upticker/Frame05.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>UpTicker</h3>
			<p>UpTicker is more than just a productivity app; it's your personal performance coach. With tailored routines, data-driven insights, and AI-powered recommendations, UpTicker helps you maximize your potential and achieve your goals.</p>

			<h3>UpTicker App Features</h3>
			<p>The main goal was to develop an app for your daily routine personal performance coach. The app was developed to set your daily goals and maximise your potential to achieve your goals. We created multiple options for personal grooming like mentor tasks, custom routines, and more.</p>

			<h3>Client Testimonial</h3>
			<p>I’m happy to see that UpTicker was ideally developed by their team. They developed a user-friendly app. Their devoted support team is always responsive and helpful, providing excellent service to us.</p>

			<h3>App Summary</h3>
			<p>UpTicker is your go-to productivity tool, assigning you personalized routines, data-driven insights, and AI-powered recommendations to optimize your performance and well-being.</p>

			<h3>Well-Being Matrix</h3>
			<p>We developed a track system which tracks your activities and improves your overall well-being.</p>

			<h3>AI-Powered Insights</h3>
			<p>We used AI-powered insights in the app for recommendations to optimize your tasks.</p>

			<h3>Data Insights</h3>
			<p>We developed data insights to illuminate your progress.</p>

		</div>
	</div>
</section>