@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/app-development/Almadallah/Frame02.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">
							Created a cross-platform application for Almadallah that improves policy and claims processing by bringing insurance companies and healthcare providers together. It guarantees a seamless user experience on both iOS and Android and is built with Flutter.
						</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Almadallah</h3>
			<p>Almadallah performs as a vital bridge in the healthcare ecosystem, connecting healthcare providers, policyholders, and insurance companies/self-funding organizations. It specializes in efficiently handling and processing health insurance policies and claims.</p>

			<h3>Features of the Almadallah app</h3>
			<p>The main purpose of the development was to create a platform for health insurance companies. It was developed to serve as a bridge between healthcare providers and different insurance companies. We made it cross-platform with high security and compatibility with Android and iOS. We made it smooth and responsive by using modern technologies.</p>
			<ul>
				<li>We developed the app for Android and iOS 6.0 and up</li>
				<li>The app was developed to be smooth and fast</li>
				<li>We made it at a minimal size of 36 MB</li>
				<li>We developed it to be compatible with 1000+ Android and iOS</li>
			</ul>

			<h3>Client Testimonial</h3>
			<p>I'm happy to see the pace of app development. They are responsive and helpful, providing excellent service to us. The app works flawlessly. They developed the app exactly as we wanted for the users and delivered it on time.</p>

			<h3>App Summary</h3>
			<p>Almadallah is a dedicated third-party manager, streamlining the healthcare process for all parties involved. We specialize in managing health insurance policies and claims, ensuring a smooth and efficient experience.</p>

			<h3>Compatibility</h3>
			<p>The app is cross-platform and compatible with both Android and iOS.</p>

			<h3>Downloads</h3>
			<p>The app has been downloaded over 50,000 times on Playstore with 1000+ daily users.</p>

			<h3>Download Size</h3>
			<p>The app was developed to keep the size minimal for a minor load on the consumer’s device.</p>

			<h3>Security</h3>
			<p>Due to healthcare being a sensitive area, security was the main objective of the development. Advanced security protocols and secure storage mechanisms were used to protect data from unauthorized access.</p>
		</div>
	</div>
</section>