@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/app-development/wikiSleep/Frame06.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Created WikiSleep, a cross-platform application that provides calming audio sleep stories. Autoplay and a subscription model for more extensive material are among the features.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>WikiSleep</h3>
			<p>Experience the power of interesting storytelling with WikiSleep. Its unique audio sleep stories, featuring captivating biographies and fascinating histories, will relax your mind into a peaceful sleep.</p>

			<h3>App Features</h3>
			<p>The main purpose was to develop an app for the relaxation of the mind at night for sleeping. We created different types of sections which include stories, music and more. We developed an autoplay option in it which makes the app easy to use at sleeping time. It is difficult for us to develop different languages in-app for stories and music listing. It has a subscription module as well to add more sounds/music.</p>

			<h3>Client Testimonial</h3>
			<p>WikiSleep is a safe and secure app. All the sections were perfectly made for the users.</p>

			<h3>App Summary</h3>
			<p>Find your perfect sleep companion in WikiSleep. Our curated library of audio sleep stories, meditations, and soundscapes is designed to help you relax, de-stress, and fall asleep effortlessly.</p>

			<h3>Diverse Content Library</h3>
			<p>We built a library in which multiple types of materials are supported.</p>

			<h3>Adjustable Audio Options</h3>
			<p>It has highly customizable options which make it unique from others like controlling the narrative flow, volume, and more.</p>

			<h3>Language Barrier</h3>
			<p>It speaks your language to solve the language barrier by supporting multiple languages like English, French, Spanish and more.</p>


		</div>
	</div>
</section>