@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/app-development/swimwarrior/Frame03.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">To monitor swim team progress and boost motivation, the Swim Warrior app was developed in Flutter. In addition to a leaderboard and stopwatch, the program has a synchronisation system that allows data access from any location.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>Lisa Johnson</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong><a target="_blank" href="https://apps.apple.com/us/app/swim-warrior/id6449373710">Swim Warrior App</a></li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Swim Warrior</h3>
			<p>Boost your team's performance with SwimWarrior. This creative app makes it easy to track progress, stay motivated, and achieve your best results.</p>

			<h3>App Features</h3>
			<p>The main purpose was to develop an app which tracks the progress of your swim team. We made a stopwatch system which is essential for the app. We developed a leaderboard to show you all team results. The big challenge was a system sync in which we developed the app as a sync at one place and access it anywhere.</p>

			<h3>Client Testimonial</h3>
			<p>Swim Warrior perfectly developed their team according to the requirements. They developed the interface of the app to be smooth and user-friendly.</p>

			<h3>App Results</h3>
			<p>SwimWarrior is the ultimate tool for competitive swim teams. Track progress and stay motivated with this user-friendly app. The leaderboard motivates you to achieve your goal.</p>

			<h3>Interface</h3>
			<p>The app interface was developed that transform the sport of swimming into an engaging and rewarding game-like experience.</p>

			<h3>Leaderboard</h3>
			<p>We developed a leaderboard in the app to create a rank.</p>

			<h3>Stopwatch</h3>
			<p>The stopwatch is a necessary element which developed to build your rank in the leaderboard.</p>

		</div>
	</div>
</section>