@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/app-development/dubai-watch-week/Frame01.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Dubai Watch Week</h3>
			<p>Dubai Watch Week is your gateway to the engaging world of horology. Explore a stunning program of events to attend and discover the latest watches from leading brands.</p>

			<h3>App Features</h3>
			<p>The main goal was to develop an app for finding the latest luxury watches from leading brands. The app was developed in Flutter, with high-security protocols and compatibility with both Android and iOS. A big challenge was the app's unique needs, providing data-backed listings and crafting the required Android/iOS solution.</p>

			<h3>Client Testimonial</h3>
			<p>Dubai Watch Week was perfectly developed according to our requirements. Works flawlessly! Kudos to the team!</p>

			<h3>App Results</h3>
			<p>This app is your entrance to the fascinating world of horology. Whether you’re a seasoned collector or simply interested in watches, this app is your guide to the world’s premier watches event.</p>

			<h3>Features of Dubai Watch Week</h3>
			<p>Following are the features developed by Creative Think Digital as required in Dubai Watch Week:</p>
			<ul>
				<li><strong>Masterclasses:</strong> Developed a system to provide workshops on the art and science of watchmaking.</li>
				<li><strong>Horology Forum:</strong> Set up a forum for users to engage in insightful discussions about the latest trends and the future of watchmaking.</li>
				<li><strong>Networking Opportunities:</strong> Social connections system to connect with fellow watch enthusiasts, collectors, and industry professionals.</li>
				<li><strong>Event Schedule:</strong> Event scheduling system to keep users informed about the schedules of watch-related events.</li>
			</ul>

		</div>
	</div>
</section>