@* development *@

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/aljomaih-automotive/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/aljomaih-automotive/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/dubai-watch-week/featured_image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/dubai-watch-week/featured_image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/paybox/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/paybox/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/secret-society/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/secret-society/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/Almadallah/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/Almadallah/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/swimwarrior/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/swimwarrior/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/upticker/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/upticker/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all appdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/app-development/wikiSleep/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/app-development/wikiSleep/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">App Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>