@{
    ViewBag.Title = "SEO For Eiksmarka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="project-detail-section">
    <div class="auto-container">
        <div class="upper-section">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <div class="inner-column">
                        <div class="about-project-title">
                            <h1>About the project</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <div class="text-row">
                        <p>
                            Our client is a dental clinic located in Bærum, Norway, offering personalized modern dental treatments such as Digital Smile Design™, invisible braces, edge-bonding, and teeth whitening. Their main goal was to rank higher in the search engines and gain more visibility in Norway. However, they were facing the challenge of not being able to find a reliable SEO expert in Norway to help them with their digital marketing needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="key-challenges-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Key Challenges</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div>
                        <p class="para-text-row">
                        The key challenge for our client was to rank their website in the Norwegian language. They needed to improve their website score, optimize their website's technical aspects, and improve their content to rank for relevant keywords. They also faced competition from other dental clinics in the area.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/images/portfolio/eiksmarka/image1.png" />
                </div>
            </div>
        </div>
        <div class="our-solutions-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Our Solutions</h2>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/images/portfolio/eiksmarka/image2.png" />
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div>
                        <p class="para-text-row">
                            Our team of experienced SEO experts worked closely with the client to understand their needs and goals. We implemented a customized SEO strategy that included optimizing the website's technical aspects, improving its content, and building high-quality backlinks. We also conducted extensive keyword research to identify the most relevant and profitable keywords for the client's business.

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="our-results-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Results Obtained</h2>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div>
                        <p class="para-text-row">
                        After carefully analyzing the client's website, we identified the areas that needed improvement. We implemented a comprehensive SEO strategy that included optimizing the website's technical aspects, improving its content, and building high-quality backlinks. The results we obtained were impressive, with the website ranking for 371 keywords and receiving 991 traffic in total. We also helped improve the website's score and performance.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/images/portfolio/eiksmarka/image3.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid technologies-section">
        <div class="row center-items">
            <img src="/images/portfolio/ahrefs.jpeg" />
            <img src="/images/portfolio/ga.png" />
            <img src="/images/portfolio/gsc.png" />
            <img src="/images/portfolio/moz.jpeg" />
            <img src="/images/portfolio/semrush.png" />
            <img src="/images/portfolio/image5.png" />

        </div>
    </div>
</section>