@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/seo/mgb-technik/Frame03.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Introduction</h3>
			<p>MGB Technik is a renowned company that provides creative and reliable technical solutions. With a focus on specific areas of expertise, such as automation, engineering, and technology consulting, MGB Technik offers a comprehensive range of services to meet the diverse needs of its customers. These services include French balconies, canopies, mailbox systems, wind protection, and privacy screens. All products are made of stainless steel and can be built without welding. The company creates campaigns to acquire new customers based on search behavior, reaching millions of target customers and generating significant revenue.</p>

			<h3>Client Testimonial</h3>
			<p>I’m surprised by the results that we have seen after SEO optimization on this website. The website reaches millions of people and provides potential customers. We see our stats clearly show a massive increment from the last month.</p>

			<h3>Key Challenges</h3>
			<p>The primary goal was to increase the website's organic search ranking in Germany and resolve any technical issues affecting its performance. The company aimed to achieve top rankings for various keywords related to stainless steel, balconies, stairs, and glass railings.</p>
			<ul>
				<li>Identified relevant keywords and terms related to stainless steel railings, balcony railings, stair railings, and glass railings.</li>
				<li>Created informative and engaging content.</li>
				<li>Targeted local search queries by incorporating location-specific keywords and content.</li>
				<li>Optimized the website for mobile devices to cater to the growing number of mobile users.</li>
				<li>Added Analytics, UTM tracking, and learned from various insights.</li>
				<li>Strategically included target keywords in page titles, meta descriptions, headings, and body content.</li>
			</ul>

			<h3>Our Solutions</h3>
			<p>We overcame the challenges and achieved our goals by conducting a thorough website audit and implementing various SEO strategies, including on-page and off-page optimization. We also created high-quality content based on our main keywords to engage the target audience. A diverse and natural backlink profile was built to avoid search engine penalties. Additionally, we regularly updated the content to maintain keyword relevance and improve search engine rankings.</p>

			<h3>Audience Capture Strategies</h3>
			<p>We developed relevant and useful content that addressed the needs and interests of the target audience. Key target keywords were used strategically in page titles, meta descriptions, headings, and body content.</p>

			<h3>Related Keywords</h3>
			<p>Title tags and meta descriptions were optimized to reflect the content of each page accurately and included relevant keywords. This optimization ensured that the content was aligned with search engine algorithms to boost visibility.</p>

			<h3>Google Analytics Tracking</h3>
			<p>Google Analytics was essential for understanding website performance and making data-driven decisions. It provided insights into user behavior, traffic sources, and conversion rates, helping us analyze where visitors came from and which keywords were most searched by users.</p>

			<h3>Tools Used</h3>
			<p>To achieve the expected outcomes, we utilized several tools, including SEMRush, Ahrefs, Screaming Frog, Google Tag Manager, Google Analytics, and Google Search Console. These tools helped us monitor website performance, identify technical issues, track keyword rankings, and analyze user behavior, enabling us to optimize the website’s efficiency.</p>

			<h3>Results Obtained</h3>
			<p>The SEO project delivered impressive results, with the company achieving rankings for 916 keywords on search engines. Over 26 keywords were successfully placed on Google’s first page, significantly improving visibility and driving increased organic traffic to the website.</p>

			<h3>Organic Revenue Increment</h3>
			<p>Organic revenue increment refers to increasing business revenue without relying on paid advertising or external investments. By using relevant keywords, meta descriptions, and header tags to improve search engine rankings, the company saw a substantial revenue increase.</p>

			<h3>Keywords Rank on Top</h3>
			<p>During and after SEO optimization, several keywords reached the 1st page of Google, which increased website traffic and generated higher revenue.</p>

		</div>
	</div>
</section>