@{
    ViewBag.Title = "SEO For Admiral Farragut Academy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="project-detail-section">
    <div class="auto-container">
        <div class="upper-section">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <div class="inner-column">
                        <div class="about-project-title">
                            <h1>About the project</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <div class="text-row">
                        <p>
                            Admiral Farragut Academy is a renowned international preparatory and boarding school located in St. Petersburg, Florida. The school offers a high-quality college prep education to local day students from Kindergarten to 12th grade and international boarding students from 8th to 12th grade or their postgraduate year.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="key-challenges-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Key Challenges</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div>
                        <p class="para-text-row">Admiral Farragut Academy was facing difficulties in ranking for some major keywords, including <span class="font-semibold">boarding school in Florida</span>, <span class="font-semibold">military schools in Florida</span>, <span class="font-semibold">summer boarding school programs</span>, and <span class="font-semibold">summer camps in St. Petersburg FL</span>. This resulted in low website traffic, and they were struggling to reach their target audience.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/images/portfolio/admiral/admiral_1.png" />
                </div>
            </div>
        </div>
        <div class="our-solutions-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Our Solutions</h2>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/images/portfolio/admiral/admiral_5.png" />
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div>
                        <p class="para-text-row">
                            We recommended that Admiral Farragut Academy invest in proper SEO strategies to increase their online visibility and reach their target audience. We performed a comprehensive analysis of their website and identified areas for improvement. We optimized their website content, including titles, meta descriptions, and schema.org, set up Google Search Console and Google Analytics, and worked on building quality backlinks. Additionally, we recommended they continue SEO efforts as a long-term investment.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="our-results-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Results Obtained</h2>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div>
                        <p class="para-text-row">As a result of our SEO efforts, Admiral Farragut Academy was able to rank for 5.4K keywords in Google search, resulting in a total traffic of 42K and 2.09M impressions. This helped them reach their target audience and attract more students to their school</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/images/portfolio/admiral/admiral_2.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid technologies-section">
        <div class="row center-items">
            <img src="/images/portfolio/ahrefs.jpeg" />
            <img src="/images/portfolio/ga.png" />
            <img src="/images/portfolio/gsc.png" />
            <img src="/images/portfolio/moz.jpeg" />
            <img src="/images/portfolio/semrush.png" />
            <img src="/images/portfolio/image5.png"/>
          
        </div>
    </div>
</section>