@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/seo/farragut/Frame05.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Introduction</h3>
			<p>Admiral Farragut Academy is a well-known international school located in St. Petersburg, Florida, offering complete study to both local students and international boarding students. The school serves students from kindergarten to 12th grade and boarding students from 8th to 12th grade, including a postgraduate year.</p>

			<h3>Client Testimonial</h3>
			<p>After working with you, we have experienced a massive increase in our online visibility and enrollment at Admiral Farragut Academy. Their expertise in SEO has helped us identify relevant keywords to rank higher in search engine results. We highly recommend their services to any school or organization looking to enhance their results on Google's 1st page.</p>

			<h3>Key Challenges</h3>
			<p>Admiral Farragut Academy faced difficulties in ranking for key terms such as "summer boarding school in Florida," "summer boarding school," and "summer boarding camps in St. Petersburg FL." This low search engine visibility impacted website traffic and the school’s ability to reach its target audience.</p>
			<ul>
				<li>The low search engine rankings resulted in limited website traffic, making it difficult to reach the target audience.</li>
				<li>The lack of visibility in search results hindered the school's ability to connect with potential students and their families.</li>
				<li>Using irrelevant keywords contributed to low website traffic.</li>
			</ul>

			<h3>Our Solutions</h3>
			<p>We proposed a comprehensive SEO strategy to improve Admiral Farragut Academy's visibility and traffic. Our strategy included a thorough website review to identify areas limiting search engine rankings. We optimized website content, including titles and meta descriptions, to enhance search engine understanding and user experience. Additionally, we implemented strategies to secure high-quality backlinks from reputable websites to increase the website's authority and credibility.</p>

			<h3>SEO Strategy</h3>
			<p>We recommended and implemented a customized SEO strategy to enhance the academy's online presence and attract its relevant target audience.</p>

			<h3>Content Optimization</h3>
			<p>We optimized website content, including titles and meta descriptions, to improve search engine understanding, enhance user experience, and attract more visitors to increase traffic.</p>

			<h3>Link Building Strategy</h3>
			<p>We developed a link-building strategy to obtain high-quality backlinks from reputable websites, enhancing the academy's authority and credibility in the eyes of search engines.</p>

			<h3>Tools Used</h3>
			<p>We utilized various SEO tools, including SEMRush, Ahrefs, Screaming Frog, Google Tag Manager, Google Analytics, and Google Search Console. These tools provided valuable insights into website performance, keyword ranking, and traffic analysis.</p>

			<h3>Mobile Usability Issue in GSC</h3>
			<p>To address mobile usability problems identified in Google Search Console, we optimized the website's design and functionality for mobile devices. This included implementing responsive web design, optimizing page loading speed, and improving the overall mobile user experience.</p>

			<h3>Breadcrumb Issue in GSC</h3>
			<p>We resolved breadcrumb-related issues by implementing proper breadcrumb navigation on the website. This improvement enhanced usability and provided clear navigation paths for both users and search engines.</p>

			<h3>Sitelink Search Boxes Issues in GSC</h3>
			<p>To address Sitelink Searchbox concerns, we applied structured data markup to the website's search box. This allowed search engines to display Sitelink Searchboxes, giving users direct access to specific areas of the website from search results.</p>

			<h3>Videos Issue in GSC</h3>
			<p>We resolved video-related issues by optimizing video metadata, implementing structured data markup, and enhancing video indexing. These efforts improved the visibility and impact of the academy's video content in search engine results.</p>

			<h3>Results Obtained</h3>
			<p>Our SEO efforts produced remarkable results. Admiral Farragut Academy ranked for 5.4K keywords on Google, resulting in 42K total traffic and 2.09M impressions. This boosted their reach to the target audience and attracted more students to the school.</p>

		</div>
	</div>
</section>