@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/uxui/my-boost/Frame04.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Product Description</h3>
			<p>MyBoost is a platform that provides boosting services for CS: GO, CS2, Esportal, Faceit, and ESEA, along with coaching services for gamers.</p>
			<p>MyBoost required a design that would draw in serious gamers. It needed to distinguish itself from its competitors in the market.</p>

			<h3>Objective and Design Alignment</h3>
			<p>This website requires a design that resonates with the gaming community and is visually distinct from its competitors. The design focused on building trust by clearly explaining services and ensuring a secure, reliable experience.</p>

			<h3>Product/Design Challenges</h3>
			<p>MyBoost had a lot of competitors in the market, which made it a challenge for us to differentiate from others.</p>
			<p>Another challenge was that users had to trust their valuable gaming accounts to the service. So, the website needed to communicate trustworthiness.</p>

			<h3>Solution</h3>
			<p>We designed a theme perfect for this kind of website, a dark-themed website complemented by vibrant orange highlights. This design choice created a sleek, modern aesthetic that appeals to the gaming community.</p>
			<p>We utilized bold visual graphics to reinforce the gaming vibe. Also, we had to make sure the services were clearly explained to build user trust.</p>
			<p>The final design created a strong, eye-catching impact on the audience while making them feel secure.</p>

			<h3>Approach</h3>
			<h3>Step 1: User Research and Market Analysis</h3>
			<p>The research helped us understand the needs and preferences of the gaming community. We analyzed competitor sites and gathered feedback from gamers to recognize what was absent in the market. This research guided our design decisions.</p>

			<h3>Step 2: Designing the Visual Identity</h3>
			<p>Our research helped us decide to choose a dark theme. It resonated with the gaming aesthetic.</p>
			<p>“Jet Black” (#000000) was used as a primary background color to give an elegant and immersive experience. “Vibrant Orange” (#FFA500) provided a notable contrast for buttons, highlights and crucial elements.</p>
			<p>We selected "Karantina" for display elements and "Karla" for headings and body text, balancing the stylish with the readable.</p>
			<p>The combination ensured that the site was visually engaged and user-friendly.</p>

			<h3>Step 3: Crafting the User Experience</h3>
			<p>We created a seamless user experience. It focuses on all services that are clearly outlined and easy to access. The website was structured to guide users flawlessly through all the services with a clear explanation.</p>

			<h3>Step 4: Implementing Visual Graphics</h3>
			<p>We integrated bold visuals to enhance the gaming vibe, complementing the dark theme and orange accents. These graphics appealed to gamers while ensuring the professional secure nature of the services offered.</p>

			<h3>Step 5: Testing and Refinement</h3>
			<p>In the end, we went through user testing with gamers. It ensured that the website met their expectations. The feedback helped us make a few design tweaks and refine the design and functionality.</p>

			<h3>Client Testimonial</h3>
			<p>We couldn’t be happier with the work the design team did on MyBoost. They truly understood our vision and created an incredibly-looking website. The team’s expertise and dedication shine through in every aspect of the site.</p>

		</div>
	</div>
</section>