@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/uxui/nursing-agency/Frame05.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Product Description</h3>
			<p>SAARC Nursing Council is a job and information portal designed especially for medical graduates and nursing students in SAARC countries.</p>
			<p>The platform connects users looking for job opportunities in Western countries like Germany, Spain, Italy, the USA, the UK, France, and Lithuania.</p>
			<p>The portal offers vacancies in various medical fields including Nurses, Surgeons, Dispensers, Chemists, Lab Technicians, and Specialists.</p>

			<h3>Objective and Design Alignment</h3>
			<p>SAARC Nursing Council was designed with the goal of a professional and trustworthy platform. Its goal was to provide opportunities for medical professionals to look for job opportunities abroad.</p>
			<p>The web design had to have a corporate look for its significant purpose. Smooth navigation and user-friendliness were a must for this kind of website.</p>

			<h3>Product/Design Challenges</h3>
			<p>The website needed to convey reliability and professionalism to attract job seekers and employers. So, it presented a challenge to maintain a professional look while attracting users from different educational backgrounds.</p>
			<p>Another challenge was incorporating a subscription model where users could access job listings and newsletters.</p>

			<h3>Solution</h3>
			<p>To encounter these design challenges, we aimed for a clean and professional design. For that, we used Royal Blue (#1054F1) as our primary color along with Slate Blue (#292E3D). This palette encourages trust and stability.</p>
			<p>“Ubuntu” font was our first choice for headings and display texts and “Inter” font was used for body and captions. These fonts ensured the readability and consistent look.</p>
			<p>Overall, these design choices ensure the site has a stylish and corporate feel.</p>

			<h3>Approach</h3>
			<h3>Step 1: User Research and Insights</h3>
			<p>We started the project with user research. It helped us understand the needs of medical graduates and nursing students from SAARC countries.</p>
			<p>Based on the feedback, we understood the pain points of users looking for international jobs. One of the issues we noticed was that most portals don’t provide a detailed process and guidance for the job process.</p>
			<p>This research guided us in making the site with clear instructions and seamless flows.</p>

			<h3>Step 2: Designing the Visual Identity</h3>
			<p>From our research, we made the decision that the website needs a look that conveys professionalism and trust.</p>
			<p>Upon further research, Royal Blue (#1054F1) and Slate Blue (#292E3D) were selected as our primary color choices. This color combination delivers a feeling of trust and security.</p>
			<p>The “Ubuntu” and “Inter” fonts were used for headings and body respectively. The font choices complemented our design’s visual appeal.</p>

			<h3>Step 3: Structuring the User Flow</h3>
			<p>We mapped out an easy and intuitive user flow for the target audience. This made it easy for users to explore jobs, register on the portal, and submit their applications.</p>
			<p>We made sure that the registration process was easy and concise, requiring users to upload their documentation with clear instructions.</p>

			<h3>Step 4: Implementing the Subscription Model</h3>
			<p>To make sure that only serious persons could use this portal, we included a subscription model. This model allowed users to access job listings and receive newsletters.</p>
			<p>The subscription procedure was kept simple, with clear pricing, benefits and instructions for users.</p>

			<h3>Step 5: Testing and Feedback</h3>
			<p>A final testing was done to make sure that the website meets the users’ needs. Feedback was gathered for final adjustments, ensuring the portal was functional for real people.</p>

			<h3>Client Testimonial</h3>
			<p>Working with the design team was a great experience. They understood our needs and delivered the product according to our expectations. The site looks great and works perfectly. They did an excellent job. We’re very pleased with the results.</p>

		</div>
	</div>
</section>