@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/uxui/book-store/Frame03.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">
							Designed a user-friendly online bookshop user interface (UI/UX) that is optimised for tablet and smartphone use, allowing for effortless access to e-books both at home and on the move. Personalised suggestions and fast navigation based on users' reading preferences are among the features.
						</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Bookstore</h3>
			<p>An online bookstore is a basic need of the modern age to provide books all over the world easily at your home. In the rapidly developing information era, the value of e-books gradually became clear.</p>
			<p>The portability of e-books has been an interest ever since their first appearance. In the field of library and information science, e-books were much discussed. Some argue that e-books should not only be used in the library but should also improve the services that libraries provide and should be used to support teaching.</p>
			<p>While at home, readers mainly read e-books on tablets, and they use smartphones while commuting.</p>
			<p>Regarding reading habits, 60% of respondents read 1- 4 e-books a month, and about 50% of respondents read e-books for an average of 16 - 30 min each time.</p>

			<h3>What is a Bookstore?</h3>
			<p>Bookstore is an online store where you search and order books according to your interests. You can also check out their reviews before buying. You can order books in both hard and soft forms. The bookstore suggests a wide variety of books, including fiction, non-fiction, textbooks, and children's books.</p>

			<h3>Objective</h3>
			<p>The main objective was to create a modern design so that users can easily find books by category, authors, or title. We aimed to design attractive book covers and detail pages that include summaries, reviews, and ratings. The design needed to create a clear hierarchy to guide users through various categories, authors, and ratings. Ensure to creation of a modern and minimalistic design for users.</p>

			<h3>Key Design Challenges</h3>
			<p>The main challenge was to build a modern navigation design and improve the overall user journey to make it natural and enjoyable. We needed to develop a powerful search feature that helps users quickly find specific titles or explore new books. Protecting user data and ensuring a safe payment environment is crucial. We needed to provide clear shipping information including shipping costs, delivery times, and return policies.</p>
			<p>We had to make a perfect dashboard to view recent orders and manage your account details. Also needed to design my book section in the dashboard to list your purchased books and a simple & modern user registration and login page.</p>

			<h3>Solutions</h3>
			<p>Our solution was to design a vibrant interface that shows uniqueness and modern visuals. We chose a shade of brown as the primary colour for the website. Used responsive design techniques and frameworks to provide a seamless experience across all devices.</p>
			<p>Provided reviews and details of every single book which helps users before buying it. Created a perfect dashboard to track your book records, manage your shipping and billing addresses, and also manage your account details. We built a modern filter system to search books according to your interests. Designed attractive book covers and detail pages that include summaries, reviews, and ratings.</p>

			<h3>Approaches</h3>
			<h3>Creating Visual Identity</h3>
			<p>We created a cohesive visual identity that reflects the brand's values and engages users. Developed a primary colour palette for branding and a secondary palette for accents and highlights. Created templates for book listings that integrated the visual identity, including cover images, ratings, and buttons.</p>
			<p>We placed the search bar prominently on every page. Established a clear typographic hierarchy for headings, body text, and call-to-action buttons, providing readability across devices.</p>

			<h3>Designing User Flows and Wireframes</h3>
			<p>We aimed to design responsive user flows and wireframes that facilitate seamless navigation and improve the user experience of the online bookstore. The book detail page wireframe was cover image, title, author, summary, reviews, related books, and an "Add to Cart" button.</p>

			<h3>Key Features</h3>

			<h3>Landing Page</h3>
			<p>Created a visually attractive and functional landing page that attracts visitors, and showcases popular books.</p>

			<h3>Advanced Search Functionality</h3>
			<p>We built a prominently placed search bar with predictive text and auto-suggestions.</p>

			<h3>Listing</h3>
			<p>Designed different listing options according to your interests to find books by categories, authors, prices and reviews.</p>

			<h3>Wishlist Functionality</h3>
			<p>Allowed users to save books they are interested in for future purchase.</p>

			<h3>User Dashboard</h3>
			<p>We created a user dashboard to view your recent orders, manage your shipping and billing addresses, and edit your passwords and account details.</p>

			<h3>Payment Options</h3>
			<p>It offers a wide range of payment methods like credit cards, debit cards and PayPal.</p>

		</div>
	</div>
</section>