@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/uxui/ukdt/Frame08.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">For cryptocurrency enthusiasts, UKDT is a GBP-pegged stablecoin that provides stability in the volatile market. The website's contemporary design instills trust in its worth by striking a balance between technological innovation and user-friendly functionality.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>Rachel Cooper</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong><a href="#" target="_blank">UkDt</a></li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Product Description</h3>
			<p>UKDT is a GBP-based stablecoin. It is particularly created for users interested in cryptocurrencies and Web3 technologies. It is similar to USDT. Unlike USDT, it offers stability in the volatile crypto market by pegging its value to the British Pound.</p>
			<p>The website and portal needed a design that appealed to tech-savvy audiences. So, it offers both an informative platform and a user-friendly portal for transactions.</p>

			<h3>Objective and Design Alignment</h3>
			<p>The aim was to create a modern and futuristic website that conveys the stability of the UKDT coin. The design needed a balance between showing tech while providing confidence in the currency's stability.</p>

			<h3>Product/Design Challenges</h3>
			<p>The design needed to be tech-oriented while showcasing the stability and reliability of the UKDT coin. It came as a design challenge.</p>
			<p>Additionally, the portal needed a safe and intuitive design as users needed it to manage their accounts, check balances and perform transactions.</p>

			<h3>Solution</h3>
			<p>We created a web design that presented a modern and tech-focused aesthetic while representing stability and growth. "Olive Green" (#556B2F) was a perfect choice as the primary colors to symbolize stability and growth.</p>

			<h3>Approach</h3>

			<h3>Step 1: Understanding the Audience and Market</h3>
			<p>We started with research keeping in mind that the audience is tech enthusiasts. It helped us figure out the visual and functional elements that would appeal to this group.</p>

			<h3>Step 2: Develop the Visual Identity</h3>
			<p>Our research helped us with the major design choices. First, we had to choose a color palette and then fonts.</p>
			<p>To represent stability and trust, we picked Olive Green (#556B2F). Jet Black (#000000) offered a strong, modern contrast giving the site a tech-forward look.</p>

			<h3>Step 3: Crafting the User Interface</h3>
			<p>For typography, we selected “Space Mono” as the primary font for its futuristic and tech-savvy feel. We used “Open Sans” for secondary text due to its readability and neat look.</p>

			<h3>Step 4: Designing the User Portal</h3>
			<p>We emphasized security and ease of use for the user portal. Users can log in to check their UKDT balance, view transaction history and perform transactions. The portal was designed aiming at the user-friendliness and ease of user navigation.</p>

			<h3>Step 5: Testing and Feedback</h3>
			<p>In the final step, user testing was done on the website and the portal. It almost met user expectations. However, with proper feedback and a few adjustments, the final design met the aesthetical and functional expectations.</p>

			<h3>Client Testimonial</h3>
			<p>The design team behind the UKDT website did an amazing job. They met the deadline while providing a beautiful-looking design for our cryptocurrency. It surely looked tech-oriented and futuristic. We are very pleased with their job.</p>

		</div>
	</div>
</section>