@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/uxui/ride-app/Frame02.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Product Description</h3>
			<p>Ride app is a versatile ride-hailing app for USA-based audiences. It is more than a conventional ride-booking app. The app offers unique features which include a tourist section and personal chauffeur service.</p>
			<p>The tourist section allows tourists to book rides to famous tourist spots. The personal chauffeur service enables users to hire drivers based on their needs.</p>

			<h3>Objective and Design Alignment</h3>
			<p>The Ride App was aimed at standing out from its competitors in the market. For that purpose, it offered users and drivers more flexibility and value. The app allows riders to earn more per trip and gives users an enhanced experience.</p>

			<h3>Product/Design Challenges</h3>
			<p>The challenge in this app was to integrate chauffeur service into a standard ride-hailing framework. Additionally, keeping the riders and passengers without separating apps was also a bit of a challenge.</p>
			<p>For that purpose, we designed a dual-mode functionality for passengers and riders. To make the app secure, a trustworthy registration process for drivers was integrated.</p>

			<h3>Solution</h3>
			<p>The app design was a challenge due to the unique features in the app like chauffeur and tourist spots. So we created distinct sections within the app for tourists and chauffeurs.</p>
			<p>The design we created, aimed to be modern and minimal, with user-friendly navigation and user flows. The Sky Blue (#029FEB) provided the design a modern and user-friendly look in contrast with Slate Grey (#1F2937).</p>
			<p>The font choice was “Nunito Sans” which gave the design a clean and approachable look.</p>

			<h3>Approach</h3>
			<h3>Step 1: User Research</h3>
			<p>We started our user research by keeping three kinds of user personas. First, a regular user who is using this app for daily commute.</p>
			<p>Second, a tourist who is new to the city and wants to explore it. Third, an elite user who is having a busy day or on vacation with family and wants personal chauffeur services.</p>
			<p>These user personas helped us figure out the pain points of our target audience and helped us to come up with solutions for them.</p>
			<p>During our research, we implemented a design solution for tourists and chauffeur services by creating separate sections within the app.</p>

			<h3>Step 2: Mapping User Flows</h3>
			<p>We started our design process by creating user flows that aimed at user-friendliness. These user flows were mainly for standard ride booking, chauffeur services or switching between rider and passenger mode.</p>
			<p>This foundation helped us to create a smooth app experience for the users.</p>

			<h3>Step 3: Wireframing</h3>
			<p>Based on the user flows, we wireframed the app. This step helped in laying out a fundamental structure. It ensured that features were easy to access and navigate.</p>

			<h3>Step 4: Establishing Visual Identity</h3>
			<p>For a visual identity, we had a modern and corporate design concept from our research. Visual identity is mostly based on colors and fonts we use for the brand.</p>
			<p>We picked Sky Blue (#029FEB) to keep a calm and trustworthy vibe while Slate Grey (#1F2937) to keep a sophisticated contrast. For better readability and modern appeal, we chose the “Nunito Sans” font.</p>

			<h3>Step 5: Integrating Chauffeur Services</h3>
			<p>To solve the challenge of chauffeur services, we integrated a distinct section within the app. This section allowed users to search, chat with and book chauffeurs based on their needs.</p>
			<p>It assures users of acknowledging the exceptional value proposition the Ride App provides.</p>

			<h3>Step 6: Dual-Mode Functionality</h3>
			<p>In the end, we designed the dual-mode system. It allowed users to swap between rider and passenger modes seamlessly. The driver registration process was made secure with some additional features.</p>

			<h3>Client Testimonial</h3>
			<p>It was an absolute pleasure to work with the design team of the Ride App. They understood our design and feature requirements clearly. The design looks visually appealing and beautiful. They did a great job taking this design as a challenge and cracked it. It would be a pleasure to work with them again.</p>

		</div>
	</div>
</section>