@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/uxui/linux-gurus/Frame07.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">The Linux OS-focused tech blog Linux Gurus provides comprehensive articles and a command section for users of all skill levels. The blog has a consistent identity across platforms and both light and dark settings for a smooth user experience.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>Mark Young</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong<a target="_blank" href="https://www.linuxgurus.com/">linuxgurus.com</a></li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Product Description</h3>
			<p>Linux Gurus is a comprehensive tech blog created for people interested to learn about Linux OS. The site offers articles on every Linux OS topic imaginable for beginners and experienced users.</p>
			<p>It was created to provide a deep look at all Linux categories and offers a dedicated section for Linux commands.</p>

			<h3>Objective and Design Alignment</h3>
			<p>The goal was simple and clear. It was to create a minimalist, user-friendly blog with a fresh and modern feel. For user preferences, the design required both light and dark modes.</p>
			<p>Additionally, the brand needed to be cohesive to all modes and platforms. So we created logo variations for different backgrounds.</p>

			<h3>Product/Design Challenges</h3>
			<p>The biggest challenge lies in balancing simplicity with depth. The site contained a vast library of Linux articles and command references, but it needed to feel lightweight and minimal.</p>
			<p>Additionally, it was a unique design challenge to create a logo that remains consistent and readable across different themes and backgrounds.</p>

			<h3>Solution</h3>
			<p>We needed a clean, functional design that allowed the content to shine.</p>
			<p>For colors, we picked Royal Purple (#5D1FC9) as the primary color along with Charcoal Black (#1F1F1F) which gave the site a modern yet understated look. The colors worked harmoniously across both light and dark themes.</p>
			<p>We used “General Sans” as the primary font for headings and display texts. While “Open Sans” was chosen as a secondary font for subtitles and body text.</p>
			<p>In terms of branding, we crafted a cubical logo featuring a filled side with a command icon. This symbolized the command-line power of Linux.</p>

			<h3>Approach</h3>
			<h3>Step 1: Understanding User Needs</h3>
			<p>We started by recognizing the needs of the users with research. Linux learners who need access to easy-to-read articles and a reliable command library. With this in mind, we learned that the design needed to be simple, intuitive and focused on offering value.</p>

			<h3>Step 2: Minimal and Functional Design</h3>
			<p>The important factor of this project was making a design that felt minimal but rich with content. The purple and black color combination was picked up for its tech-inspired vibe.</p>

			<h3>Step 3: Branding and Logo Development</h3>
			<p>The branding for Linux Gurus was very important. We crafted a cubical logo featuring a filled side with a command icon. This symbolized the command-line power of Linux.</p>
			<p>The typography for the logo used “Open Sans Condensed” which gave it a strong and readable look. We created three variations for the logo to make sure of consistency.</p>

			<h3>Step 4: Testing for User Experience</h3>
			<p>After designing the website, we went through user testing to make sure that the content was accessible and easy to navigate. Based on feedback, we made minor design changes to ensure the best user experience.</p>

			<h3>Client Testimonial</h3>
			<p>Our experience with the design team was nothing short of excellent. They fully comprehended our vision for this website. The logo and branding looked fabulous. We’re thrilled with the results and how smoothly the design fits our content.</p>

		</div>
	</div>
</section>