@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/uxui/party-app/Frame01.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">The Party app provides necessary services while connecting young audiences in the USA to host and attend real-life parties. Its corporate yet humorous style encourages fun and professional networking.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>Kate Scott</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Product Description</h3>
			<p>Party app is a dynamic app for young and vibrant audiences based in the USA. The platform allows users to host and join real-life parties.</p>
			<p>Users can also offer and avail essential party services like venue booking, catering, DJ services, bouncers and cleaning.</p>

			<h3>Objective and Design Alignment</h3>
			<p>The main objective of the app was to grow connections between people beyond the dance floor.</p>
			<p>Here, people can enjoy and grow as well. They can enjoy the parties. They can offer services and most importantly, they can connect for business opportunities.</p>
			<p>For that reason, the design needed to be playful, lively and slightly corporate simultaneously. Because the audience was looking for fun and growth in the same place.</p>

			<h3>Product/Design Challenges</h3>
			<p>The main challenge was to create a design that gave a playful but professional look. The design needed to be inviting but organized for users looking for entertainment and business opportunities.</p>
			<p>Moreover, the app has separate sections for partygoers and service providers. So, the app needed smooth navigation.</p>

			<h3>Solution</h3>
			<p>With these design challenges, we needed a design that looks vibrant but sleek and modern.</p>
			<p>For that purpose, we chose Lavender Purple (#C77DFF) because it expressed vibrancy and creativity. To keep a lively, yet professional look, we used “Supreme” font.</p>
			<p>Due to the multiple functions of the app for partygoers and service providers, we introduced two separate sections for them. We designed a seamless flow for users to switch between these two sections.</p>
			<p>During our research, we also came up with the idea of a premium subscription for users looking for parties with business opportunities. So, we decided to design a user flow for the users interested in such parties and introduced a premium plan for them.</p>

			<h3>Approach</h3>
			<h3>Step 1: User Research and Personas</h3>
			<p>First of all, we started with user research to understand the needs and preferences of our audience. We did surveys, interviews, and user testing to gather insights.</p>
			<p>It helped us understand the users' expectations of the party app. We identified users' pain points that are balancing between fun and professionalism and easy navigation.</p>
			<p>During our research, we came up with the idea of a premium plan for users looking for exclusive parties. This approach keeps the elite parties to be professional and only focused on the people who want to grow their network.</p>

			<h3>Step 2: Designing User Flows and Wireframes</h3>
			<p>After that, we focused on a user flow that was intuitive for both party-goers and service providers.</p>
			<p>The wireframing sessions helped us map out the two different sides of the app. It allowed us to create an accessible and user-friendly design for each mode — party and service.</p>

			<h3>Step 3: Establishing the Visual Identity</h3>
			<p>We started by creating a brand identity that resonated with both the youthful energy of users and the app's broader business objectives.</p>
			<p>After extensive research, we selected Lavender Purple (#C77DFF) to keep the design playful and “Supreme” font for a professional touch.</p>

			<h3>Step 4: Segregating User Experiences</h3>
			<p>To address the specific needs of our users, we presented two respective modes: Party Mode and Service Mode.</p>
			<p>Party Mode lets users create, host or join a party and find necessary services. Service Mode allows users to offer or locate services regarding party planning. This segregation provided clarity and ease of use.</p>

			<h3>Step 5: Implementing Follow and Premium Features</h3>
			<p>With a constant feedback loop, we improved the product design features. The app needed to be a more party-oriented community than a social media platform.</p>
			<p>To keep that feel on the app, we designed a follow feature that allowed users to follow others only if they had hosted parties, adding a layer of exclusivity and promoting active participation.</p>

			<h3>Client Testimonial</h3>
			<p>The Party App is exactly what we envisioned. The design team did great work on the design as it is flawless. They were good at keeping us in the feedback loop for design improvements. They even proposed additional ideas to attract more users to the app. Their design team is exceptional in meeting deadlines. We couldn’t be happier with the results and their teams’ efforts.</p>

		</div>
	</div>
</section>