@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/web-development/tour-planner/Frame01.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Tourplanner</h3>
			<p>Tourplanner provides to visit different northern areas of Pakistan with multiple offering packages. You can get different services at Tourplanner like car rentals, hotels, travel guides and more. You can also arrange your trip according to your holidays.</p>

			<h3>Website Features</h3>
			<p>The Tourplanner website was developed to give multiple services for your northern trip. We built it for both local and international visitors. We created an online booking management system in which you book online hotels and manage your trip according to your holidays.</p>
			<p>We provided the widest selection of hotels according to area, prices and multiple packages offered.</p>

			<h3>Client Testimonial</h3>
			<p>I'm surprised to see the development of the website. They designed a safe and secure finance management system for online booking transactions with multiple methods.</p>

			<h3>Website Details</h3>
			<p>Tourplanner was perfectly built to visit Pakistan's northern areas with multiple offering packages. They also provided multiple services like car rentals, hotels, travel guides and more.</p>

			<h3>Hotel Booking</h3>
			<p>We developed it for finding and booking hotels for both domestic and international tourists.</p>

			<h3>Services</h3>
			<p>Multiple services are available for tourists to enjoy trips like car rentals, hotels, travel guides and more.</p>

			<h3>Finance Management</h3>
			<p>We integrated a secure finance management system with multiple transaction methods.</p>

		</div>
	</div>
</section>