@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/web-development/racing-and-sports/Frame02.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Racing and Sports</h3>
			<p>Racing and Sports is a website about the latest news of horse racing. It covers various horse racing topics. It also includes different race types like flat races, harness races, and trotting races.</p>

			<h3>Website Features</h3>
			<p>The Racing and Sports website provides the latest news on different horse racing. We integrated a blog system in which you read articles on various topics related to horse racing and betting. We targeted the audience of horse racing lovers.</p>

			<h3>Client Testimonial</h3>
			<p>They designed the Racing and Sports website perfectly for horse riding lovers. They fulfil all the requirements properly and make it smooth and fast by using modern technologies.</p>

			<h3>Website Outcome</h3>
			<p>The Racing and Sports website is a wide platform to provide in-depth coverage of horse racing and sports betting. It covers various topics of horse racing like expert tips, analysis from racing journalists, and interviews with jockeys.</p>

			<h3>Targeted Audience</h3>
			<p>We built it to target the horse racing passion audience.</p>

			<h3>Real-time Updates</h3>
			<p>We integrated a real-time data gathered mechanism which delivered real-time updates.</p>

		</div>
	</div>
</section>