@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/web-development/snl-24-kickoff/Frame04.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Kickoff is sports website from South Africa that offers player interviews, analysis, and news about international football. For real-time updates on international football events, the portal has a contemporary design system.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>Steve Anderson</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Kickoff</h3>
			<p>Kickoff is a popular South African sports publication that provides international football news, analysis, and features. You can also watch interviews with players and analysts.</p>

			<h3>Website Features</h3>
			<p>We developed a kickoff website for international football news to update the users. We built a new design system according to the global football game events and news. We provided a YouTube video on the website to watch player's interviews and the latest news.</p>

			<h3>Client Testimonial</h3>
			<p>The Kickoff website was developed perfectly according to our requirements. They are responsive and helpful, providing excellent service to us. The website works flawlessly.</p>

			<h3>Website Results</h3>
			<p>Kickoff is a famous website for international football game events and news. You are updated with all the latest news of international football teams.</p>

			<h3>Multimedia Content</h3>
			<p>We provided all types of content like videos, photos, and podcasts to enhance the news experience.</p>

			<h3>Interactive Features</h3>
			<p>We designed polls, quizzes, and forums for user engagement.</p>

		</div>
	</div>
</section>