@* ideas *@

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/1.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/1.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/2.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/2.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/3.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/3.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/4.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/4.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/5.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/5.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/11.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/11.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/12.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/12.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/gallery/13.jpg" alt="" />
            <div class="overlay-box">
                <a href="images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="projects-detail.html">Social Media App</a></h4>
                    <div class="category">Ideas / Technology</div>
                </div>
                <a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>