@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/web-development/snl-24-soccer/Frame05.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Etiam volutpat ultricies est id volutpat. Maecenas finibus risus purus, id lobortis urna rutrum id. Sed pellent esquevert pharetra consequat</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>John Amanda</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong>Globex.com</li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>SNL 24 | Soccer Laduma</h3>
			<p>SNL 24 | Soccer Laduma is a South African sports publication that provides local football news, analysis, and features. Get insights into player performances, team strategies, and league trends.</p>

			<h3>Website Features</h3>
			<p>The SNL 24 website was developed to inform you of the latest news of SA local football news. We created different sections for users like interviews, analysis, match reports and more.</p>

			<h3>Client Testimonial</h3>
			<p>The SNL 24 was designed according to our requirements. The final website was not only visually stunning but also had a highly functional and user-friendly interface.</p>

			<h3>What is SNL 24?</h3>
			<p>SNL 24 is a famous website for South African local football news. Research different articles on football topics from professional analysts.</p>

			<h3>Match Reports</h3>
			<p>We created a blog system for local detailed recaps of matches, including highlights, analysis, and player ratings.</p>

			<h3>Photo Galleries</h3>
			<p>SNL 24 website was designed perfectly to enjoy stunning photo galleries of matches, events, and players.</p>

			<h3>Social Media Integration</h3>
			<p>We integrated social media platforms for local football updates, highlights, and discussions.</p>

		</div>
	</div>
</section>