@* ideas *@

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/drive-excel/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/drive-excel/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="Views\Shared\Portfolio\_WebDevelopmentForDriveXcel.cshtml">Driving School Site</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/news24/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/news24/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/racing-and-sports/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/racing-and-sports/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/price-match/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/price-match/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-6 col-md-12 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/osix-media/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/osix-media/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/snl-24-kickoff/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/snl-24-kickoff/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/snl-24-soccer/Featured Image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/snl-24-soccer/Featured Image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>

<!-- Case Block -->
<div class="case-block mix all webdevelopment col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image">
            <img src="images/portfolio/web-development/tour-planner/featured-image.png" alt="" />
            <div class="overlay-box">
                <a href="images/portfolio/web-development/drive-excel/featured-image.png" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
                <div class="content">
                    <h4><a href="/Home/ProjectDetail">Social Media App</a></h4>
                    <div class="category">Web Development</div>
                </div>
                <a href="/Home/ProjectDetail" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
            </div>
        </div>
    </div>
</div>