@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/web-development/news24/Frame03.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Developed a web application that provides the most recent sports news, information, and professional commentary. For a captivating user experience, the platform efficiently oversees live sessions and national and international sporting events.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>Megan Hughes</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong><a target="_blank" href="https://www.news24.com/">News24</a></li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>News24 | Sports</h3>
			<p>News24 Sports is a famous online platform dedicated to providing the latest sports news, updates, and analysis. Always up-to-date with the most recent sports news, get expert insights and views from professional sports journalists and analysts.</p>

			<h3>Website Features</h3>
			<p>The News24 | Sports website was designed to inform you of the latest news of all sports. We built it to manage all the national and international sports events and live sessions.</p>

			<h3>Client Testimonial</h3>
			<p>We are working with them that was an absolute pleasure. The website they developed is not only visually attractive but also highly functional and user-friendly.</p>

			<h3>Website Results</h3>
			<p>News24 Sports provides real-time updates on scores, results, and match progress. We also provide expert commentary and analysis on different sports topics, offering insights and viewpoints.</p>

			<h3>Latest Sports News</h3>
			<p>We developed it to provide you with real-time live updates about any sports in the world.</p>

			<h3>Social Media Integration</h3>
			<p>We integrated social media platforms to engage more users.</p>

		</div>
	</div>
</section>