@{
	ViewBag.Title = "Web Development for FlexiBizPro: Dynamic Enterprise Management System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(/images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Project Detail Section -->
<section class="project-detail-section">
	<div class="auto-container">
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">IT-Solutions</div>
							<h2>Proud Projects That Make Us Stand Out</h2>
						</div>
						<div class="image">
							<img src="../../images/portfolio/web-development/osix-media/Frame08.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h4>Project Info</h4>
						<div class="text">Developed Osix Media, a tool for monitoring and controlling posts on social media. Administrators may safely store, view, modify, and delete data in a single, centralised system thanks to it.</div>
						<ul class="info-list">
							<li><span class="icon flaticon-user"></span><strong>Client: </strong>Brian Mitchell</li>
							<li><span class="icon fa fa-bookmark-o"></span><strong>Category: </strong>Business, Campaign</li>
							<li><span class="icon flaticon-timetable"></span><strong>Date: </strong>6 June 20</li>
							<li><span class="icon fa fa-globe"></span><strong>Website: </strong><a target="_blank" href="https://osixmedia.com/">Osix Media</a></li>
							<li><span class="icon fa fa-map-marker"></span><strong>Location: </strong>New York</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="lower-section">
			<h3>Osix Media</h3>
			<p>It is a media management system where you save and track all your records of posting content on different social media platforms. You admins can also view, edit or remove the data from this management system.</p>

			<h3>Website Features</h3>
			<p>The main goal was to develop a website for tracking your posting content on social media. We integrated a management system which helps you to save and track data.</p>
			<p>You can also view, edit or remove data on all social media posting content in one place. You can also manage your admins to secure data from unauthorized persons.</p>

			<h3>Client Testimonial</h3>
			<p>They built a safe and secure media management system according to our vision. They created a perfect search system which makes it easy to search data.</p>

			<h3>Osix Media Summary</h3>
			<p>The website was made to easily track your posting content on social media platforms. You search your data easily with different options like name, date and platform.</p>

			<h3>Management System</h3>
			<p>We made a media management system to save and track data easily in one place.</p>

			<h3>Searching Mechanism</h3>
			<p>We built a modern search mechanism in which you search data name, date and platform.</p>

			<h3>Multiple Options</h3>
			<p>You can view, edit or remove data of every social media posting content.</p>

			<h3>Admin Management</h3>
			<p>We also integrated an admin management system to manage your admin team.</p>

		</div>
	</div>
</section>