@{
    ViewBag.Title = "Web Development for Drive Xcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="project-detail-section">
    <div class="auto-container">
        <div class="upper-section">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <div class="inner-column">
                        <div class="about-project-title">
                            <h1>About the project</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <div class="project-icons-wrapper">
                        <img src="/images/icons/about1.svg" alt="about-icon-1">
                        <img src="/images/icons/about2.svg" alt="about-icon-2">
                        <img src="/images/icons/about3.svg" alt="about-icon-3">
                    </div>
                    <div class="text-row">
                        <p>
                            At Economy Driving School, we're proud to present our cutting-edge website, meticulously crafted by the skilled team at CTD (Creative Think Digital). Our partnership with Economy Driving School represents our commitment to delivering top-tier digital solutions tailored to the driving education sector.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="key-challenges-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Key Features</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul>
                        <li>
                            <div class="challange-text">
                                <h6>Intuitive Design</h6>
                                <p>
                                    Our user-friendly interface ensures seamless navigation for both prospective students and instructors, enhancing user experience.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="challange-text">
                                <h6>Mobile Responsiveness</h6>
                                <p>
                                    The website is optimized for mobile devices, allowing easy access to information and course details on-the-go.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="challange-text">
                                <h6>Course Integration</h6>
                                <p>
                                    Detailed course listings and enrollment functionalities facilitate easy access to information and simplify the enrollment process for students.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="challange-text">
                                <h6>Interactive Elements</h6>
                                <p>
                                    Engaging features such as testimonials, FAQs, and informative content enrich the user journey, encouraging trust and conversion.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="/images/portfolio/drive-xcel/drive-xcel-2.jpg" />
                </div>
            </div>
        </div>
        <div class="our-solutions-section">
            <div class="row mb">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Driving School's Online Presence</h2>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 sol_mb wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="/images/icons/solution1.svg" alt="Enhanced Visual Appeal" /></h5>
                            <h6 class="card-subtitle mb-2 ">Enhanced Visual Appeal</h6>
                            <p class="card-text">
                                The modern and visually appealing design enhances the credibility and professionalism of Economy Driving School in the digital space.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 sol_mb wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="/images/icons/solution1.svg" alt="Improved User Experience" /></h5>
                            <h6 class="card-subtitle mb-2 ">Improved User Experience</h6>
                            <p class="card-text">
                                Our focus on intuitive design and functionality significantly improves the overall user experience, encouraging visitors to explore and engage with the website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 sol_mb wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="/images/icons/solution1.svg" alt="Streamlined Information Access" /></h5>
                            <h6 class="card-subtitle mb-2 ">Streamlined Information Access</h6>
                            <p class="card-text">
                                Clear and organized course details and enrollment processes make it easier for potential students to understand services and take action.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 sol_mb wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="/images/icons/solution1.svg" alt="SEO Optimization" /></h5>
                            <h6 class="card-subtitle mb-2 ">SEO Optimization</h6>
                            <p class="card-text">
                                By implementing effective SEO strategies, we've enhanced Economy Driving School's online visibility, ensuring higher search engine rankings and increased traffic.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-results-section">
            <div class="row mb clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-row-title">Why Choose CTD?</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 res_mb wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="/images/icons/solution1.svg" alt="Expertise and Innovation" /></h5>
                            <h6 class="card-subtitle mb-2 ">Expertise and Innovation</h6>
                            <p class="card-text">
                                Our team comprises skilled developers and designers dedicated to pushing the boundaries of innovation, delivering exceptional results.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 res_mb wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="/images/icons/solution1.svg" alt="Client-Centric Approach" /></h5>
                            <h6 class="card-subtitle mb-2 ">Client-Centric Approach</h6>
                            <p class="card-text">
                                We prioritize understanding our client's goals, challenges, and brand identity, ensuring a bespoke solution that resonates with their vision.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 res_mb wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="/images/icons/solution1.svg" alt="Measurable Impact" /></h5>
                            <h6 class="card-subtitle mb-2 ">Measurable Impact</h6>
                            <p class="card-text">
                                Our focus on tangible results ensures that our digital solutions contribute significantly to our client's success and growth.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*    <div class="container-fluid technologies-section">
        <div class="row center-items">
            <img src="/images/tech2.svg" />
            <img src="/images/tech2.svg" />
            <img src="/images/tech2.svg" />
            <img src="/images/tech2.svg" />
        </div>
    </div>*@
</section>