<section class="pricing-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="title">Our Pricing Plans</div>
            <h2>A Monthly Project Fee <br> Price Plans</h2>
        </div>

        <div class="row clearfix">
            <div class="price-block col-lg-12 col-md-12 col-sm-12 base-color">
                <div class="inner-box">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped table-sm price_plan seo_price_plan">
                            <thead>
                                <tr class="text-center">
                                    <th>Package</th>
                                    <th>Basic <br/> £90 </th>
                                    <th>Standard <br /> £180</th>
                                    <th>Premium <br /> £350</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Description</td>
                                    <td>Simple graphic design</td>
                                    <td>Creative eye-catching design with source file</td>
                                    <td>High-quality professional graphic design with copyrights and source files</td>
                                </tr>
                                <tr>
                                    <td>Print-Ready</td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Source File</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Double-sided</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Custom graphics</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Photo editing</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Social media design</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Commercial Use</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Delivery Time</td>
                                    <td>4 days</td>
                                    <td>7 day</td>
                                    <td>10 day</td>
                                </tr>
                                <tr>
                                    <td>Priority Support</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('Graphic Designing - Basic Plan')" class="theme-btn btn-style-one"><span class="txt">Send Request</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('Graphic Designing  - Standard Plan')" class="theme-btn btn-style-one"><span class="txt">Send Request</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('Graphic Designing - Premium Plan')" class="theme-btn btn-style-one"><span class="txt">Send Request</span></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="">
                            If you want to get customize plan then <a href="@Url.Action("ContactUs","Home")" ><span class="txt">contact us</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>