	<!-- Pricing Section -->
<section class="pricing-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Our Pricing Plans</div>
			<h2>A Monthly Project Fee <br> Price Plans</h2>
		</div>

		<div class="row clearfix">

			<!-- Price Block -->
			<div class="price-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<h3>Basic</h3>
					<div class="text">Designed for businesses with standard health requirements</div>
					<div class="price">$ 70.00 <span>/ Per Month</span></div>
					<ul class="price-list">
						<li>24/7 Support</li>
						<li>Advanced Options</li>
						<li>16 GB Storage</li>
						<li>Unlimited Support</li>
					</ul>
					<div class="btn-box">
						<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Get Started</span></a>
					</div>
				</div>
			</div>

			<!-- Price Block -->
			<div class="price-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<h3>Standard</h3>
					<div class="text">Designed for businesses with standard health requirements</div>
					<div class="price">$ 90.00 <span>/ Per Month</span></div>
					<ul class="price-list">
						<li>24/7 Support</li>
						<li>Advanced Options</li>
						<li>16 GB Storage</li>
						<li>Unlimited Support</li>
					</ul>
					<div class="btn-box">
						<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Get Started</span></a>
					</div>
				</div>
			</div>

			<!-- Price Block -->
			<div class="price-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<h3>Professional</h3>
					<div class="text">Designed for businesses with standard health requirements</div>
					<div class="price">$ 100.00 <span>/ Per Month</span></div>
					<ul class="price-list">
						<li>24/7 Support</li>
						<li>Advanced Options</li>
						<li>16 GB Storage</li>
						<li>Unlimited Support</li>
					</ul>
					<div class="btn-box">
						<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Get Started</span></a>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End Pricing Section -->