@{
	ViewBag.Title = "BlogSingle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Latest News</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>News Update</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Content Side -->
			<div class="content-side col-lg-8 col-md-12 col-sm-12">
				<div class="news-detail">
					<div class="inner-box">
						<div class="upper-box">
							<h3>Define World Best IT Solution Technology</h3>
							<ul class="post-meta">
								<li><span class="icon flaticon-comment"></span>3 comments</li>
								<li><span class="icon flaticon-user"></span>Admin</li>
							</ul>
						</div>
						<div class="image">
							<img src="images/resource/news-17.jpg" alt="" />
							<div class="post-date">22 <span>DEC</span></div>
						</div>

						<div class="lower-content">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
							<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.</p>
							<blockquote>
								<div class="blockquote-inner">
									Lorem ipsum dolor sit amet consectetr adipicing elit mod tempor incididunt enim minim quis nostrud exer tation ullamco laboris nisi aliquip.
									<span class="quote-icon flaticon-quotation-mark"></span>
								</div>
							</blockquote>
							<p></p>
							<h4>“Innovative solutions to move your business forward.”</h4>
							<p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances owing to the claims of duty or the obligations of business it will accepted.</p>
							<h4>Quality With Integrity</h4>
							<p>Best quality only happens when you care enough to do your best.</p>
							<p>Steer companies away from risky outcomes denounce with righteous indignation who are so beguiled and demoralized by pleasure of the moment perfectly.</p>
							<p>Owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to repudiated debitis aut rerum necessitatibus saepe eveniet ut et voluptates .</p>
							<div class="row clearfix">
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list-style-two">
										<li>Righteous indignation dislike demoralized</li>
										<li>One who avoids pain that produce resultant</li>
										<li>Nothing prevents able to do we like best ever</li>
									</ul>
								</div>
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list-style-two">
										<li>Equal blame those who fail theirduty.</li>
										<li>Except to obtain some advantage from it?.</li>
									</ul>
								</div>
							</div>

							<!-- Post Share Options-->
							<div class="post-share-options">
								<div class="post-share-inner clearfix">
									<div class="pull-left tags"><a href="#">Business</a> <a href="#">Solution</a><a href="#">IT-Services</a></div>
									<ul class="social-box pull-right">
										<li class="share">Share This Post :</li>
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>

					<div class="comments-area">
						<div class="group-title">
							<h3>2 Comments</h3>
						</div>

						<div class="comment-box">
							<div class="comment">
								<div class="author-thumb"><img src="images/resource/author-1.jpg" alt=""></div>
								<div class="comment-info clearfix"><strong>Steven Rich</strong><div class="comment-time">15 january 2019 At 10:30 pm</div></div>
								<div class="text">To take a trivial example, which ever undertakes laborious physical exercise, except obtain some advantage.</div>
								<a class="theme-btn reply-btn" href="#">Reply</a>
							</div>
						</div>

						<div class="comment-box reply-comment">
							<div class="comment">
								<div class="author-thumb"><img src="images/resource/author-2.jpg" alt=""></div>
								<div class="comment-info clearfix"><strong>William Cobus</strong><div class="comment-time">15 january 2019 At 10:30 pm</div></div>
								<div class="text">To take a trivial example, which ever undertakes laborious physical exercise, except obtain some advantage.</div>
								<a class="theme-btn reply-btn" href="#">Reply</a>
							</div>
						</div>

						<div class="comment-box">
							<div class="comment">
								<div class="author-thumb"><img src="images/resource/author-3.jpg" alt=""></div>
								<div class="comment-info clearfix"><strong>Van Wimbilton</strong><div class="comment-time">15 january 2019 At 10:30 pm</div></div>
								<div class="text">To take a trivial example, which ever undertakes laborious physical exercise, except obtain some advantage.</div>
								<a class="theme-btn reply-btn" href="#">Reply</a>
							</div>
						</div>

					</div>

					<!-- Comment Form -->
					<div class="comment-form">

						<div class="group-title"><h3>Leave A Comment</h3></div>

						<!--Comment Form-->
						<form method="post" action="blog.html">
							<div class="row clearfix">

								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<input type="text" name="username" placeholder="Full Name" required="">
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<input type="email" name="email" placeholder="Email" required="">
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<input type="text" name="subject" placeholder="Subject" required="">
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<textarea class="darma" name="message" placeholder="Your Message"></textarea>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12 form-group">
									<button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Post Comments</span></button>
								</div>

							</div>
						</form>

					</div>



				</div>
			</div>

			<!-- Sidebar Side -->
			<div class="sidebar-side left-sidebar col-lg-4 col-md-12 col-sm-12">
				<aside class="sidebar sticky-top">
					<div class="sidebar-inner">

						<!-- Search -->
						<div class="sidebar-widget search-box">
							<div class="sidebar-title">
								<h5>Search :-</h5>
							</div>
							<form method="post" action="contact.html">
								<div class="form-group">
									<input type="search" name="search-field" value="" placeholder="Search....." required>
									<button type="submit"><span class="icon fa fa-search"></span></button>
								</div>
							</form>
						</div>

						<!-- Categories Widget -->
						<div class="sidebar-widget categories-widget">
							<div class="sidebar-title">
								<h5>Categories :-</h5>
							</div>
							<div class="widget-content">
								<ul class="blog-cat">
									<li><a href="#">Consulting <span>( 05 )</span></a></li>
									<li><a href="#">Cyber Data <span>( 23 )</span></a></li>
									<li><a href="#">Design <span>( 22 )</span></a></li>
									<li><a href="#">Digital <span>( 15 )</span></a></li>
									<li><a href="#">Marketing <span>( 36 )</span></a></li>
									<li><a href="#">Security <span>( 48 )</span></a></li>
									<li><a href="#">UI/UX Designrch <span>( 06 )</span></a></li>
								</ul>
							</div>
						</div>

						<!-- Categories Widget -->
						<div class="sidebar-widget popular-posts">
							<div class="sidebar-title">
								<h5>Recent Post :-</h5>
							</div>
							<div class="widget-content">
								<article class="post">
									<figure class="post-thumb"><img src="images/resource/post-thumb-5.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<div class="text"><a href="news-detail.html">Define World Best IT Solution Technology</a></div>
									<div class="post-info">May 01, 2019</div>
								</article>
								<article class="post">
									<figure class="post-thumb"><img src="images/resource/post-thumb-6.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<div class="text"><a href="news-detail.html">You Must Try 20 Secret Of Digital Transform</a></div>
									<div class="post-info">February 05, 2019</div>
								</article>
								<article class="post">
									<figure class="post-thumb"><img src="images/resource/post-thumb-7.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<div class="text"><a href="news-detail.html">10 PHP Frameworks You Need To Use Anywhere</a></div>
									<div class="post-info">January 22, 2019</div>
								</article>
							</div>
						</div>

						<!-- Popular Posts -->
						<div class="sidebar-widget popular-tags">
							<div class="sidebar-title">
								<h5>Tag Cloud :-</h5>
							</div>
							<div class="widget-content">
								<a href="#">Business</a>
								<a href="#">Consult</a>
								<a href="#">Cyber</a>
								<a href="#">Data</a>
								<a href="#">Design</a>
								<a href="#">IT-Services</a>
								<a href="#">Marketing</a>
								<a href="#">Object</a>
								<a href="#">Solution</a>
							</div>
						</div>

						<!-- Instagram Widget -->
						<div class="sidebar-widget instagram-widget">
							<div class="sidebar-title">
								<h5>Instagram :-</h5>
							</div>
							<div class="widget-content">
								<div class="clearfix">
									<figure class="post-thumb"><img src="images/resource/instagram-1.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-2.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-3.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-4.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-5.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-6.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-7.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-8.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<figure class="post-thumb"><img src="images/resource/instagram-9.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
								</div>
							</div>
						</div>

						<!-- Archives Widget -->
						<div class="sidebar-widget archives-widget">
							<div class="sidebar-title">
								<h5>Archives :-</h5>
							</div>
							<ul class="archive-list">
								<li><a href="#">October 2019</a></li>
								<li><a href="#">August 2019</a></li>
								<li><a href="#">July 2019</a></li>
								<li><a href="#">June 2019</a></li>
							</ul>
						</div>

					</div>
				</aside>
			</div>

		</div>
	</div>
</div>
<!-- End Sidebar Page Container -->
<!-- News More Section -->
<section class="news-more-section">
	<div class="auto-container">
		<div class="row clearfix">
			<!-- New Post -->
			<div class="new-post col-lg-6 col-md-12 col-sm-12">
				<div class="post-inner">
					<div class="content">
						<div class="post-image">
							<img src="images/resource/news-21.jpg" alt="" />
						</div>
						<h4><a href="#">Define World Best IT Solution </a></h4>
						<a href="#" class="more">Previous</a>
					</div>
				</div>
			</div>
			<!-- New Post -->
			<div class="new-post style-two col-lg-6 col-md-12 col-sm-12">
				<div class="post-inner">
					<div class="content">
						<div class="post-image">
							<img src="images/resource/news-22.jpg" alt="" />
						</div>
						<h4><a href="#">You Must Try 20 Secret Of Digital</a></h4>
						<a href="#" class="more">Next</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End News More Section -->
