@{
    ViewBag.Title = "Impressum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="contact-info-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="title-box">
            <h2>Impressum</h2>
            <div class="row clearfix">

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-column">
                        <div class="content">
                            <div class="icon-box"><span class="flaticon-pin"></span></div>
                            <ul>
                                <li><strong>Address</strong></li>
                                <li>125, Suitland Street, USA</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-column">
                        <div class="content">
                            <div class="icon-box"><span class="flaticon-phone-call"></span></div>
                            <ul>
                                <li><strong>Phone</strong></li>
                                <li>+ 786 875 864 75</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-column">
                        <div class="content">
                            <div class="icon-box"><span class="flaticon-email-1"></span></div>
                            <ul>
                                <li><strong>E-Mail</strong></li>
                                <li>support@globex.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-box center-items">
            <div class="impressum-max-width">
                <h3>
                    DISCLAIMER
                </h3>
                <p>Although we have carefully checked the content, we assume no responsibility for the content of external links. The responsibility for the content of the linked pages lies solely with their operators.</p>
            </div>
        </div>
    </div>
</section>