@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Creative Think Digital";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Section Two -->
<section class="banner-section-two">
    @*<div class="pattern-layer-one" style="background-image: url(images/main-slider/pattern-4.png)"></div>*@
    <div class="pattern-layer-two" style="background-image: url(images/main-slider/pattern-5.png)"></div>
    <div class="pattern-layer-three" style="background-image: url(images/main-slider/pattern-6.png)"></div>
    <div class="main-slider-carousel owl-carousel owl-theme">

        <div class="slide">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="~/images/main-slider/header.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            @*<div class="title">For Over 10 Years. For Millions of Users</div>*@
                            <h1>IT Staff Augmentation <br> & Web Development Company</h1>
                            <div class="text">Welcome to Creative Think Digital, a leading digital solutions provider specializing in Graphic Designing, IT staff augmentation, search engine optimization, and web development. </div>
                            @*<div class="play-box">
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="fa fa-play"><i class="ripple"></i></span></a>
                            VIDEO SHOWCASE
                            </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="slide">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="~/images/main-slider/566x766.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            @*<div class="title">For Over 10 Years. For Millions of Users</div>*@
                            <h1>SEO and <br> Graphic Designing Company</h1>
                            <div class="text">Our passion for creativity and innovation drives us to deliver exceptional digital experiences for businesses of all sizes.</div>
                            @*<div class="play-box">
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="fa fa-play"><i class="ripple"></i></span></a>
                            VIDEO SHOWCASE
                            </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @*<div class="slide">
        <div class="auto-container">
        <div class="row clearfix">

        <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
        <div class="image">
        <img src="~/images/main-slider/content-image-1.png" alt="" />
        </div>
        </div>
        </div>

        <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
        <div class="title">For Over 10 Years. For Millions of Users</div>
        <h1>Enterprise Apps <br> Design & Development</h1>
        <div class="text">We are 100+ professional software engineers with more than <br> 10 years of experience in delivering superior products.</div>
        <div class="play-box">
        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="fa fa-play"><i class="ripple"></i></span></a>
        VIDEO SHOWCASE
        </div>
        </div>
        </div>

        </div>
        </div>
        </div>*@

    </div>
</section>
<!-- End Banner Section Two -->
<!-- Experiance Section -->
<section class="experiance-section" style="background-image: url(/images/background/pattern-9.png)">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">EXPERIENCE. EXECUTION. EXCELLENCE.</div>
            <h2>What We Actually Do</h2>
        </div>


        <!-- Experiance Info Tabs -->
        <div class="experiance-info-tabs">
            <!-- Experiance Tabs -->
            <div class="experiance-tabs tabs-box">

                <!-- Tab Btns-->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#prod-coding" class="tab-btn"><span class="icon flaticon-coding"></span>Web Development</li>
                    <li data-tab="#prod-it-staff" class="tab-btn"><span class="icon flaticon-user"></span>IT Staff Augmentation</li>
                    <li data-tab="#prod-seo" class="tab-btn active-btn"><span class="icon flaticon-seo"></span>SEO</li>
                    <li data-tab="#prod-graphic-design" class="tab-btn"><span class="icon icon flaticon-designer-1"></span>Graphic Designing</li>
                </ul>

                <!--Tabs Container-->
                <div class="tabs-content">

                    <!--Tab / Active Tab-->
                    <div class="tab" id="prod-coding">
                        <div class="content">
                            <h4>Web Development Services</h4>
                            <div class="text">Our web development team crafts responsive and user-friendly websites tailored to your unique business needs. <br />We build robust, scalable, and high-performing websites to leave a lasting impression on your visitors.</div>
                            @* <div class="btn-box text-center">
                            <a href="services-detail.html" class="theme-btn btn-style-three"><span class="txt">Learn More</span></a>
                            </div>*@
                        </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="prod-it-staff">
                        <div class="content">
                            <h4>IT Staff Augmentation</h4>
                            <div class="text">Scale your team effortlessly with our IT staff augmentation services. We provide highly skilled and vetted professionals to complement your projects and drive success.</div>
                            @*<div class="btn-box text-center">
                            <a href="services-detail.html" class="theme-btn btn-style-three"><span class="txt">Learn More</span></a>
                            </div>*@
                        </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab active-tab" id="prod-seo">
                        <div class="content">
                            <h4>Search Engine Optimization (SEO)</h4>
                            <div class="text">
                                Improve your online visibility and drive organic traffic with our data-driven SEO strategies. <br> Our team of SEO experts ensures your website ranks higher in search engine results, reaching the right audience at the right time.
                            </div>
                            @*  <div class="btn-box text-center">
                            <a href="services-detail.html" class="theme-btn btn-style-three"><span class="txt">Learn More</span></a>
                            </div>*@
                        </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="prod-graphic-design">
                        <div class="content">
                            <h4>Graphic Designing</h4>
                            <div class="text">Our talented graphic designers blend aesthetics with functionality to create visually stunning and impactful designs that resonate with your target audience.</div>
                            @*<div class="btn-box text-center">
                            <a href="services-detail.html" class="theme-btn btn-style-three"><span class="txt">Learn More</span></a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Experiance Section -->
<!-- Counter Section -->
<section class="counter-section">
    <div class="auto-container">
        <div class="inner-container">
            <!-- Fact Counter -->
            <div class="fact-counter">
                <div class="row clearfix">

                    <!-- Column -->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="content">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="18">0</span>+
                                </div>
                                <h4 class="counter-title">ACTIVE CLIENTS</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Column -->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="content">
                                <div class="count-outer count-box alternate">
                                    <span class="count-text" data-speed="5000" data-stop="70">0</span>+
                                </div>
                                <h4 class="counter-title">PROJECTS DONE</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Column -->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="content">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="10">0</span>+
                                </div>
                                <h4 class="counter-title">TEAM ADVISORS</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Column -->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                            <div class="content">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3500" data-stop="2">0</span>+
                                </div>
                                <h4 class="counter-title">GLORIOUS YEARS</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->
<!-- About Section Two -->
<section class="about-section-two" style="background-image: url(images/background/about-section-two.jpg)">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Image Column -->
            <div class="image-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="circle-layer" style="background-image: url(/images/background/pattern-10.png)"></div>
                    <div class="image">
                        <img src="/images/resource/about.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- Skill Column -->
            <div class="skill-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">

                    <!-- Sec Title -->
                    <div class="sec-title light">
                        <div class="title">About CTD</div>
                        <h2>Transform Your Business With The Creative Think Digital.</h2>
                        <div class="text">We listen. We advise. We design, together. Happy customers and ongoing relationships are what we strive for. Success is measured by results, the most important being how our clients feel about their experience with us.</div>
                    </div>

                    @* <div class="skills">
                    <div class="skill-item">
                    <div class="skill-header clearfix">
                    <div class="skill-title">IT staff augmentation</div>
                    <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="93">0</span>%</div></div>
                    </div>
                    <div class="skill-bar">
                    <div class="bar-inner"><div class="bar progress-line" data-width="93"></div></div>
                    </div>
                    </div>
                    <div class="skill-item">
                    <div class="skill-header clearfix">
                    <div class="skill-title">SEO</div>
                    <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="80">0</span>%</div></div>
                    </div>
                    <div class="skill-bar">
                    <div class="bar-inner"><div class="bar progress-line" data-width="80"></div></div>
                    </div>
                    </div>
                    <div class="skill-item">
                    <div class="skill-header clearfix">
                    <div class="skill-title">Web Development</div>
                    <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="73">0</span>%</div></div>
                    </div>
                    <div class="skill-bar">
                    <div class="bar-inner"><div class="bar progress-line" data-width="73"></div></div>
                    </div>
                    </div>

                    </div>

                    <a href="@Url.Action("ContactUs","Home")" class="theme-btn btn-style-two"><span class="txt">Learn More</span></a>*@

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End About Section Two -->
<!-- Process Section -->
<section class="process-section">
    <div class="pattern-layer-one" style="background-image: url(/images/background/pattern-11.jpg)"></div>
    <div class="pattern-layer-two" style="background-image: url(/images/background/pattern-12.jpg)"></div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title"></div>
            <h2>Why Partner With Us</h2>
        </div>
        <div class="row clearfix">

            <!-- Process Block -->
            <div class="process-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="number-box">01</div>
                    <h4><a href="#">Timely Delivery</a></h4>
                    <div class="text">We understand the value of time, and our team is committed to delivering projects on schedule without compromising on quality.</div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="number-box">02</div>
                    <h4><a href="#">Client Success Stories</a></h4>
                    <div class="text">
                        We have a proven track record of delivering successful digital projects for diverse industries, earning the trust of our clients.
                    </div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="number-box">03</div>
                    <h4><a href="#">Transparent Communication</a></h4>
                    <div class="text">We believe in open and transparent communication throughout the project lifecycle. You'll be kept informed at every step of the process.</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Process Section -->

<section class="sponsors-section style-two">
    @*    <div class="pattern-layer-one" style="background-image: url(/images/background/pattern-5.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(/images/background/pattern-6.png)"></div>*@
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title dark centered">
            <div class="title">Awards & Badges</div>
        </div>
        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li><div class="image-box"><a href="#"><img src="~/images/ctd/techreviewer.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="~/images/ctd/techreviewer_app_dev.png" alt=""></a></div></li>
                @*<li><div class="image-box"><a href="#"><img src="~/images/ctd/clutch.png" alt=""></a></div></li>*@
                @*<li><div class="image-box"><a href="#"><img src="~/images/ctd/digital_marketing.webp" alt=""></a></div></li>*@
                <li><div class="image-box"><a href="#"><img src="~/images/ctd/it_rate.webp" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="~/images/ctd/it_rate_digital.webp" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="~/images/ctd/it_rate_web_dev.webp" alt=""></a></div></li>
                @*<li><div class="image-box"><a href="#"><img src="~/images/ctd/web_development.webp" alt=""></a></div></li>*@

            </ul>
        </div>
    </div>
</section>

<!-- Appointment Section -->
<section class="appointment-section">
    <div class="image-layer" style="background-image: url(images/background/4.jpg)"></div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">CONTACT US</div>
            <h2>Join Us To Get IT Free <br> Consultations</h2>
        </div>
        <div class="inner-container">
            <div class="row clearfix">

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="~/images/resource/about-appointment.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h4>You Don't Hesitate To Contact <br> With Us, Now Say Hello......</h4>
                        <!-- Appointment Form -->
                        <div class="appointment-form">
                            <form method="post" action="appointment.html">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Name" required="">
                                        <span class="icon fa fa-user"></span>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                        <span class="icon fa fa-envelope"></span>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="tel" name="phone" placeholder="Phone No" required="">
                                        <span class="icon fa fa-phone"></span>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="department" placeholder="Department" required="">
                                        <span class="icon fa fa-home"></span>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Send Massage</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        CTDNav.AddCurrentActiveClass(`home`)
    })
</script>