@{
	ViewBag.Title = "Projects";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Projects</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Projects</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Gallery Section -->
<section class="gallery-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">LATEST CASE STUDIES</div>
			<h2>Reads Now Our Recent <br> Projects Studies</h2>
		</div>
		<!--MixitUp Galery-->
		<div class="mixitup-gallery">

			<!--Filter-->
			<div class="filters clearfix">

				<ul class="filter-tabs filter-btns text-center clearfix">
					<li class="active filter" data-role="button" data-filter="all">All</li>
					<li class="filter" data-role="button" data-filter=".design">Design</li>
					<li class="filter" data-role="button" data-filter=".development">Development</li>
					<li class="filter" data-role="button" data-filter=".ideas">Ideas</li>
					<li class="filter" data-role="button" data-filter=".technology">Technology</li>
				</ul>

			</div>

			<div class="filter-list row clearfix">

				<!-- Case Block -->
				<div class="case-block mix all ideas technology development col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/1.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/1.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block mix all development ideas col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/2.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/2.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block mix all ideas design col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/3.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/3.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block mix all ideas development col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/4.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/4.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block mix all technology design ideas col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/5.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/5.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block mix all design development col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/11.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/11.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block mix all design technology development col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/12.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/12.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

				<!-- Case Block -->
				<div class="case-block mix all design technology ideas col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/13.jpg" alt="" />
							<div class="overlay-box">
								<a href="images/gallery/13.jpg" data-fancybox="gallery" data-caption="" class="search-icon"><span class="icon flaticon-search"></span></a>
								<div class="content">
									<h4><a href="projects-detail.html">Social Media App</a></h4>
									<div class="category">Ideas / Technology</div>
								</div>
								<a href="projects-detail.html" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="btn-box text-center">
				<a href="#" class="theme-btn btn-style-three"><span class="txt">Send Massage</span></a>
			</div>

		</div>
	</div>
</section>


<script>
	$(document).ready(function () {
		CTDNav.AddCurrentActiveClass(`projects`)
	})
</script>