@{
	ViewBag.Title = "TeamDetails";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Project Detail</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Project Detail</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Team Detail Section -->
<section class="team-detail-section">
	<div class="auto-container">
		<div class="upper-box">
			<div class="row clearfix">
				<!-- Image Column -->
				<div class="image-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/team-2.jpg" alt="" />
						</div>
					</div>
				</div>
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">Project Manager</div>
						<h2>Jassica Ethan</h2>
						<ul class="attorney-contact-info">
							<li><span>Phone: </span><a href="tel:111-222-3333"> 111-222-3333</a></li>
							<li><span>Email: </span><a href="mailto:info@example.com"> info@example.com</a></li>
							<li>
								<span>Follow us:</span>
								<a href="#" class="social-icons fa fa-facebook"></a>
								<a href="#" class="social-icons fa fa-linkedin"></a>
								<a href="#" class="social-icons fa fa-twitter"></a>
							</li>
						</ul>
						<h3>My Objective</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
						<p>Securing as informed declared or margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country believe. On even feet time have an no at. Relation so in confined smallest children unpacked delicate. Duis aute irure dolor in reprehenderit in voluptate. Joy horrible moreover man feelings own shy. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti soconubia nostra.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="lower-box lower-section">
			<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti soconubia nostra. Integer dignissim dolor quis lorem semper, sit amet convallis ipsum dignissim. Sed diam quam, aliquam a fringilla at, lobortis sed velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla iaculis enim id mauris pharetra laoreet. Aliquam a ipsum fringilla purus euismod bibendum et et ipsum. Suspendisse eget sagittis sem. Nam vitae purus ante. Nam aliquam luctus diam.</p>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam vel erat vitae lectus dictum lacinia. Sed nec dolor at lacus sagittis ultrices a et lorem. Aliquam fermentum consequat dolor, nec lacinia lectus fermentum ut. In et justo id justo tristique placerat. Nulla facilisi. Maecenas commodo erat in nisi vehicula lobortis in vitae urna. Sed rhoncus mi quis nulla aliquam, vel eleifend purus molestieNullam vel erat vitae lectus dictum lacinia. Sed nec dolor at lacus sagittis ultrices a et lorem. Aliquam fermentum consequat dolor, nec lacinia lectus fermentum ut. In et justo id justo tristique placerat. Nulla facilisi. Maecenas commodo erat in nisi vehicula lobortis in vitae urna. Sed rhoncus mi quis nulla aliquam, vel eleifend purus molestie</p>
			<br>
			<div class="buttons-box clearfix">
				<div class="pull-left">
					<a href="#" class="theme-btn btn-style-three"><span class="txt"><i class="fa fa-angle-double-left"></i>&nbsp;Previous</span></a>
				</div>
				<div class="pull-right">
					<a href="#" class="theme-btn btn-style-three"><span class="txt">Next&nbsp;<i class="fa fa-angle-double-right"></i></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Team Detail Section -->

<script>
	$(document).ready(function () {
		CTDNav.AddCurrentActiveClass(`about`)
	})
</script>