@{
	ViewBag.Title = "Team";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Our Team</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Team</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Team Page Section -->
<section class="team-page-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-1.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Jennifer Garcia</a></h5>
							<div class="designation">Consultant Officer</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-2.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Robert Liam</a></h5>
							<div class="designation">Web Designer</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-3.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Jassica Ethan</a></h5>
							<div class="designation">Project Manager</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-4.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Adaim Mrala</a></h5>
							<div class="designation">IT Service Officer</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-1.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Jennifer Garcia</a></h5>
							<div class="designation">Consultant Officer</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-2.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Robert Liam</a></h5>
							<div class="designation">Web Designer</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-3.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Jassica Ethan</a></h5>
							<div class="designation">Project Manager</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="team-detail.html"><img src="images/resource/team-4.jpg" alt="" /></a>
					</div>
					<div class="lower-box">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
						<div class="content">
							<h5><a href="team-detail.html">Adaim Mrala</a></h5>
							<div class="designation">IT Service Officer</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Team Page Section -->


<script>
	$(document).ready(function () {
		CTDNav.AddCurrentActiveClass(`about`)
	})
</script>