@{
	ViewBag.Title = "Testimonial";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!--Page Title-->
<section class="page-title">
	<div class="pattern-layer-one" style="background-image: url(images/background/pattern-16.png)"></div>
	<div class="auto-container">
		<h2>Testimonial</h2>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Testimonial</li>
		</ul>
	</div>
</section>
<!--End Page Title-->
<!-- Testimonial Page Section -->
<section class="testimonial-page-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Testimonial</div>
			<h2>We Have Many Reviews From <br> Our Satisfied Clients.</h2>
		</div>

		<div class="row clearfix">

			<!-- Testimonial Block -->
			<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
				<div class="inner-box" style="background-image: url(images/background/pattern-4.png)">
					<div class="upper-box">
						<div class="icon">
							<img src="images/resource/testimonial-icon-1.png" alt="" />
						</div>
						<h4>Steelart</h4>
						<div class="designation">Client of Company</div>
					</div>
					<div class="text">"Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. The best part...always solving problems with great original ideas!."</div>
				</div>
			</div>

			<!-- Testimonial Block -->
			<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
				<div class="inner-box" style="background-image: url(images/background/pattern-4.png)">
					<div class="upper-box">
						<div class="icon">
							<img src="images/resource/testimonial-icon-2.png" alt="" />
						</div>
						<h4>Figma Skills</h4>
						<div class="designation">Client of Company</div>
					</div>
					<div class="text">"Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. The best part...always solving problems with great original ideas!."</div>
				</div>
			</div>

			<!-- Testimonial Block -->
			<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
				<div class="inner-box" style="background-image: url(images/background/pattern-4.png)">
					<div class="upper-box">
						<div class="icon">
							<img src="images/resource/testimonial-icon-1.png" alt="" />
						</div>
						<h4>Steelart</h4>
						<div class="designation">Client of Company</div>
					</div>
					<div class="text">"Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. The best part...always solving problems with great original ideas!."</div>
				</div>
			</div>

			<!-- Testimonial Block -->
			<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
				<div class="inner-box" style="background-image: url(images/background/pattern-4.png)">
					<div class="upper-box">
						<div class="icon">
							<img src="images/resource/testimonial-icon-2.png" alt="" />
						</div>
						<h4>Figma Skills</h4>
						<div class="designation">Client of Company</div>
					</div>
					<div class="text">"Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. The best part...always solving problems with great original ideas!."</div>
				</div>
			</div>

			<!-- Testimonial Block -->
			<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
				<div class="inner-box" style="background-image: url(images/background/pattern-4.png)">
					<div class="upper-box">
						<div class="icon">
							<img src="images/resource/testimonial-icon-1.png" alt="" />
						</div>
						<h4>Steelart</h4>
						<div class="designation">Client of Company</div>
					</div>
					<div class="text">"Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. The best part...always solving problems with great original ideas!."</div>
				</div>
			</div>

			<!-- Testimonial Block -->
			<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
				<div class="inner-box" style="background-image: url(images/background/pattern-4.png)">
					<div class="upper-box">
						<div class="icon">
							<img src="images/resource/testimonial-icon-2.png" alt="" />
						</div>
						<h4>Figma Skills</h4>
						<div class="designation">Client of Company</div>
					</div>
					<div class="text">"Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. The best part...always solving problems with great original ideas!."</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End Pricing Section -->