<section class="pricing-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>Web Development @ViewBag.CityName <br> Pricing Plans</h2>
        </div>

        <div class="row clearfix">
            <div class="price-block col-lg-12 col-md-12 col-sm-12 base-color">
                <div class="inner-box">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped table-sm price_plan seo_price_plan">
                            <thead>
                                <tr class="text-center">
                                    <th>Features</th>
                                    <th>
                                        Basic Package
                                        <br />
                                        (£300)
                                    </th>
                                    <th>
                                        Standard Package
                                        <br />
                                        (£500)
                                    </th>
                                    <th>
                                        Premium Package
                                        <br />
                                        (£800)
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Pages</td>
                                    <td>3-5</td>
                                    <td>7-10</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Delivery Time</td>
                                    <td>5 Days</td>
                                    <td>10 Days</td>
                                    <td>15 Days</td>
                                </tr>
                                <tr>
                                    <td>Functional Website</td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Responsive Design</td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Content Upload</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Plugins/Extensions</td>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>E-commerce Functionality</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Products (E-commerce)</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Payment Processing</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Autoresponder Integration</td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Speed Optimization</td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Social Media Icons</td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('Web Development - Basic Plan')" class="theme-btn btn-style-one"><span class="txt">Send Request</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('Web Development - Standard Plan')" class="theme-btn btn-style-one"><span class="txt">Send Request</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('Web Development - Premium Plan')" class="theme-btn btn-style-one"><span class="txt">Send Request</span></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="">
                            If you want to get customize plan then <a href="@Url.Action("ContactUs","Home")"><span class="txt">contact us</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>