:root {
    --placeholder-color: #2f3033;
}

html {
    font-size: 14px;
}

::placeholder {
    color: var(--placeholder-color);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.uppercase {
    text-transform: uppercase;
}

.font-semibold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

html {
    position: relative;
    min-height: 100%;
}

.impressum-max-width {
    max-width: 500px;
}

    .impressum-max-width p {
        font-size: 1.5rem;
    }

.main-header .header-upper {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}
/*body {
    margin-bottom: 60px;
}*/
.pt-1 {
    padding-top: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mt {
    margin-top: 100px
}

.mb {
    margin-bottom: 100px;
}

.base-color {
    color: #141d38;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.para-text-row {
    color: #141d38;
    font-size: 1.3rem;
    letter-spacing: .01em;
    line-height: 2.25rem;
}

.ctd_divider {
    border: none;
    height: 1px;
    background-color: lightgrey;
    margin: 20px 0;
}

.project-detail-section .about-project-title h1 {
    color: #141d38;
    font-size: 6.438rem;
    line-height: 114.5%;
    text-transform: capitalize;
    font-weight: 700;
}

.project-detail-section .project-icons-wrapper {
    display: flex;
    gap: 48px;
    margin-bottom: 53px;
}

.project-detail-section .text-row {
    color: #141d38;
    font-size: 1.3rem;
    letter-spacing: .01em;
    line-height: 2.25rem;
    width: 90%;
}

.key-challenges-section {
    margin-top: 150px;
    color: #141d38;
}

    .key-challenges-section .text-row {
        color: #141d38;
        font-weight: bolder
    }

    .key-challenges-section ul {
        margin: 40px 0 0 40px;
    }

        .key-challenges-section ul li {
            list-style: square
        }

    .key-challenges-section .challange-text h6 {
        font-weight: bold
    }

    .key-challenges-section .challange-text p {
        font-size: 20px;
        text-align: justify;
        line-height: unset;
    }


.our-solutions-section,
.our-results-section {
    margin-top: 150px;
}

    .our-solutions-section .card,
    .our-results-section .card {
        background: rgba(208, 212, 223, 0.3);
        border-radius: 16px;
        padding: 24px;
        height: 100%;
        border: none
    }

    .our-solutions-section .text-row-title,
    .our-results-section .text-row-title,
    .key-challenges-section .text-row-title {
        color: #141d38;
        font-size: 3.5rem;
        letter-spacing: .01em;
        line-height: 2.25rem;
        font-weight: 700;
        text-decoration: underline
    }

    .our-solutions-section .card-body,
    .our-results-section .card-body {
        color: #141d38;
    }

    .our-solutions-section .card-subtitle,
    .our-results-section .card-subtitle {
        font-weight: bolder;
        font-size: large;
    }

    .our-solutions-section .card-text,
    .our-results-section .card-text {
        font-weight: lighter;
        font-size: medium;
    }

    .our-solutions-section .sol_mb,
    .our-results-section .res_mb {
        margin-bottom: 15px;
    }

.technologies-section {
    background: #141d38;
}

    .technologies-section .center-items img {
        margin: 2rem 0 2rem 1rem;
        width: 6%
    }



@media (max-width: 767px) {
    .project-detail-section .about-project-title h1 {
        font-size: 4rem;
    }

    .project-detail-section .project-icons-wrapper {
        display: flex;
        gap: 12px;
        margin-bottom: 34px;
        margin-top: 22px;
    }

        .project-detail-section .project-icons-wrapper img {
            width: 90px;
            height: 90px;
        }

    .our-solutions-section .mb,
    .our-results-section .mb,
    .key-challenges-section .mb {
        margin-bottom: 40px;
    }

    .our-solutions-section .text-row-title,
    .our-results-section .text-row-title,
    .key-challenges-section .text-row-title {
        font-size: 3rem;
    }

    .our-solutions-section .card,
    .our-results-section .card {
        text-align: center
    }
}

@media (max-width: 575.98px) {
    .our-solutions-section .text-row-title,
    .our-results-section .text-row-title,
    .key-challenges-section .text-row-title {
        font-size: 2.5rem;
    }

    .project-detail-section .about-project-title h1 {
        font-size: 3rem;
    }

    .technologies-section .center-items img {
        width: 11%
    }
}

@media (max-width: 353px) {
    .our-results-section .text-row-title {
        font-size: 2rem;
    }
}

.services-page-section {
    padding: 70px 0px 70px;
}

    .services-page-section .about-service-title h1 {
        /*color: #141d38;*/
        font-size: 3rem;
        line-height: 114.5%;
        text-transform: capitalize;
        font-weight: 700;
    }

    .services-page-section .about-service-title h2 {
        font-weight: 400
    }

    .services-page-section .about-service-title span {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .services-page-section .sidebar-form {
        position: relative;
        padding: 45px 30px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
        border-radius: 0.5rem;
    }

        .services-page-section .sidebar-form form {
            margin-top: 1rem
        }

            .services-page-section .sidebar-form form input,
            .services-page-section .sidebar-form form textarea {
                background: #f8fafc;
                border-radius: 0.5rem;
            }

        .services-page-section .sidebar-form .btn.btn-block {
            margin-top: 1rem;
        }

        .services-page-section .sidebar-form .sidebar-form-text h6 {
            font-weight: bolder;
            color: black;
        }

        .services-page-section .sidebar-form .sidebar-form-text span {
            font-size: 1.1rem
        }

    .services-page-section ul li {
        list-style: disc;
    }

    .services-page-section ul {
        margin: 20px 0 0 20px;
        font-size: 1.03rem;
        /* font-weight: 500; */
        font-family: 'Montserrat', sans-serif !important;
    }

        .services-page-section ul li {
            margin-bottom: 0.6rem;
        }

    .services-page-section .reviews-section {
        margin-top: 3rem;
    }

.satis-section {
    background: #141D38;
    color: #f8fafc;
    padding: 2rem;
}

.services-page-section .service-detail-section {
    margin-top: 3rem;
}

    .services-page-section .service-detail-section .title-label {
        font-size: 1rem;
        padding: 0.5rem;
        background: #23304F;
        color: #fff;
        font-family: 'Montserrat', sans-serif !important;
        border-radius: 0.5rem;
    }

    .services-page-section .service-detail-section .service-detail {
        margin-top: 2rem;
        text-align: justify;
    }

        .services-page-section .service-detail-section .service-detail h2 {
            font-size: 1.4rem;
            text-transform: capitalize;
            font-weight: 700;
        }

        .services-page-section .service-detail-section .service-detail p {
            font-size: 1.1rem;
            line-height: 1.7rem;
            /*text-align: justify;*/
            margin-bottom: 2rem;
            font-family: 'Montserrat', sans-serif !important;
        }

        .services-page-section .service-detail-section .service-detail .detail-with-list ul {
            margin-left: 2rem;
            font-size: initial;
        }

.services-page-section .reviews-section {
    margin-bottom: 3rem;
}

@media (max-width: 991px) {
    .blog-detail-section-wrapper .about-blog-title h1,
    .services-page-section .about-service-title h1 {
        font-size: 2rem !important;
    }

    .services-page-section .about-service-title h2 {
        font-size: 1.5rem;
    }



    .services-page-section .reviews-section .review-starts {
        display: flex;
    }

    .services-page-section .right-form-rail {
        order: 1
    }

    .services-page-section .left-rail {
        order: 2
    }

    .key-challenges-section,
    .our-solutions-section,
    .our-results-section {
        margin-top: 80px;
    }

    .technologies-section .center-items img {
        width: 10%
    }
}

@media (max-width: 767px) {
    .services-page-section .sidebar-form {
        margin-bottom: 1rem
    }
}

.blog-page-section .card {
    border-radius: 0.5rem !important;
    outline: none;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    border: 0;
}


/* Blog Detail  */
.news-block .inner-box .lower-content h4 {
    font-size: 1.25rem !important
}

.blog-detail-section-wrapper {
    padding: 10px 0px 70px;
}

    .blog-detail-section-wrapper .blog-detail-section-inner .title-label {
        font-size: 1rem;
        padding: 0.5rem;
        background: #23304F;
        color: #fff;
        border-radius: 0.5rem;
    }

    .blog-detail-section-wrapper .blog-detail-section-inner .blog-body img {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .blog-detail-section-wrapper .blog-detail-section-inner .blog-body {
        margin-top: 2rem;
    }

        .blog-detail-section-wrapper .blog-detail-section-inner .blog-body h2 {
            font-size: 2rem;
            text-transform: capitalize;
            font-weight: 700;
        }

        .blog-detail-section-wrapper .blog-detail-section-inner .blog-body h3 {
            font-size: 1.4rem;
            text-transform: capitalize;
            font-weight: 600;
        }

        .blog-detail-section-wrapper .blog-detail-section-inner .blog-body p {
            font-size: 1.1rem;
            line-height: 1.7rem;
            /*text-align: justify;*/
            margin-bottom: 2rem
        }

    .blog-detail-section-wrapper .blog-detail-section-inner .blog-detail .detail-with-list ul {
        margin-left: 2rem;
        font-size: initial;
    }

    .blog-detail-section-wrapper .about-blog-title h1 {
        /*color: #141d38;*/
        font-size: 3rem;
        line-height: 114.5%;
        text-transform: capitalize;
        font-weight: 700;
    }

    .blog-detail-section-wrapper .about-blog-title h2 {
        font-weight: 400
    }

    .blog-detail-section-wrapper .about-blog-title span {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .blog-detail-section-wrapper .sidebar-form {
        position: relative;
        padding: 45px 30px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
        border-radius: 0.5rem;
    }

        .blog-detail-section-wrapper .sidebar-form form {
            margin-top: 1rem
        }

            .blog-detail-section-wrapper .sidebar-form form input,
            .blog-detail-section-wrapper .sidebar-form form textarea {
                background: #f8fafc;
                border-radius: 0.5rem;
            }

        .blog-detail-section-wrapper .sidebar-form .btn.btn-block {
            margin-top: 1rem;
        }

        .blog-detail-section-wrapper .sidebar-form .sidebar-form-text h6 {
            font-weight: bolder;
            color: black;
        }

        .blog-detail-section-wrapper .sidebar-form .sidebar-form-text span {
            font-size: 1.1rem
        }


.about-section-two:before,
.info-section:before {
    background-color: transparent !important
}


/* Cities Sitemap Start*/
.cities__site__map {
    background: #f7fafc;
}

.item-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    font-family: 'Montserrat', sans-serif !important;
    /*padding: 2rem;*/
}

    .item-list li {
        width: 25%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

        .item-list li .icon-link {
            color: #141D38;
            font-size: 1rem
        }

        .item-list li .icon {
            margin-right: 10px;
            color: #141D38;
        }

/* Responsive CSS */
@media (max-width: 768px) {
    .item-list li {
        width: 33%;
    }
}

@media (max-width: 876px) {
    .item-list li {
        width: 33%;
    }
}

@media (max-width: 480px) {
    .item-list li {
        width: 50%;
    }
}
/* Cities Sitemap End*/
.price-block .seo_price_plan thead {
    font-size: larger;
}

.price-block .seo_price_plan tbody tr td:nth-child(2),
.price-block .seo_price_plan tbody tr td:nth-child(3),
.price-block .seo_price_plan tbody tr td:nth-child(4) {
    text-align: center;
}

.price-block .inner-box .seo_price_plan .btn-box .theme-btn {
    font-size: 13px;
    padding: 5px 15px;
}

.price-block .seo_price_plan {
    font-size: 1.1rem;
}

    .price-block .it_staff_price_plan .category_name,
    .price-block .seo_price_plan thead tr th,
    .price-block .it_staff_price_plan thead tr th {
        vertical-align: middle;
    }

.price_plan th:first-child {
    width: 30%;
}

.price_plan td:first-child {
    width: 30%;
}

.price_plan th {
    width: 20%;
}

.price_plan td {
    width: 20%;
}

.it_staff_price_plan .it_staff_br {
    display: none;
}

.pricing-section {
    padding: 50px 0px 0px;
}

.aw-nd-badges {
    width: 200px;
    height: 216px;
}

.services-page-section .sidebar-form {
    padding-top: 20px
}

.about__us__section .about-section {
    padding-bottom: 0px;
}

.teams_section .team-page-section {
    padding-top: 0px;
}

.reviews-block .clutch-widget {
    margin: inherit;
}

    .reviews-block .clutch-widget iframe {
        width: 97%;
    }

@media (max-width: 767px) {
    .reviews-block .clutch-widget {
        margin: unset;
    }
    .price_plan .btn-box {
        white-space: nowrap;
    }

    .price-block .inner-box {
        padding: 30px 15px;
    }

    .it_staff_price_plan .it_staff_br {
        display: block;
    }
}

@media (min-width:1068px) {
    .intro_form {
        margin-bottom: 0.8rem;
    }
}
