<section class="sponsors-section style-two">
    <div class="auto-container">
        <div class="sec-title dark centered">
            <h2>Awards & Badges</h2>
        </div>
        <div class="carousel-outer">
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li><div class="image-box"><a aria-label="co_seo_company_advertising__marketing_united_kingdom" href="#"><img loading="lazy" width="200" src="~/images/ctd/top_clutch.co_seo_company_advertising__marketing_united_kingdom.png" alt="co_seo_company_advertising__marketing_united_kingdom"></a></div></li>
                <li><div class="image-box"><a aria-label="techreviewer" href="#"><img loading="lazy" src="~/images/ctd/techreviewer.webp" alt="techreviewer"></a></div></li>
                <li><div class="image-box"><a aria-label="techreviewer_app_dev" href="#"><img loading="lazy" src="~/images/ctd/techreviewer_app_dev.png" alt="techreviewer_app_dev"></a></div></li>
                <li><div class="image-box"><a aria-label="co_squarespace_company_united_kingdom_2023" href="#"><img loading="lazy" width="200" src="~/images/ctd/top_clutch.co_squarespace_company_united_kingdom_2023.png" alt="co_squarespace_company_united_kingdom_2023"></a></div></li>
                <li><div class="image-box"><a aria-label="digital-marketing-it-rate" href="#"><img loading="lazy" class="aw-nd-badges" width="200" height="216" src="~/images/ctd/digital-marketing-it-rate.jpg" alt="digital-marketing-it-rate"></a></div></li>
                <li><div class="image-box"><a aria-label="custom-software-development-it-rate" href="#"><img loading="lazy" class="aw-nd-badges" width="200" height="216" src="~/images/ctd/custom-software-development-it-rate.jpg" alt="custom-software-development-it-rate"></a></div></li>
                <li><div class="image-box"><a aria-label="web-development-it-rate" href="#"><img loading="lazy" class="aw-nd-badges" width="200" height="216" src="~/images/ctd/web-development-it-rate.jpg" alt="web-development-it-rate"></a></div></li>
            </ul>
        </div>
    </div>
</section>