<section class="reviews-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>CTD Reviews</h2>
        </div>
        <div class="row clearfix">
            <div class="reviews-block col-lg-12 col-md-12 col-sm-12 wow fadeInRight">
                <div class="inner-box">
                    <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="5" data-height="auto" data-nofollow="true" data-expandifr="true" data-clutchcompany-id="1823151"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>