<li><a href="@Url.Action("ITStaffAugumentation","Home")">IT Staff Augmentation</a></li>
<li><a href="@Url.Action("WebDevelopment","Home")">Web Development</a></li>
<li><a href="@Url.Action("SEO","Home")">SEO</a></li>
<li><a href="@Url.Action("GraphicDesigning","Home")">Graphic Designing</a></li>