<li><a href="https://www.facebook.com/creativethinkdigital" class="fa fa-facebook-f"></a></li>
<li><a href="https://twitter.com/CreativeThinkD2" class="fa fa-twitter"></a></li>
<li><a href="https://www.instagram.com/creativethinkdigital/" class="fa fa-instagram"></a></li>
<li><a href="https://www.linkedin.com/company/creative-think-digital/" class="fa fa-linkedin"></a></li>