<section class="pricing-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="title">Our Pricing Plans</div>
            <h2>A Monthly Project Fee <br> Price Plans</h2>
        </div>

        <div class="row clearfix">
            <div class="price-block col-lg-12 col-md-12 col-sm-12 base-color">
                <div class="inner-box">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped table-sm price_plan seo_price_plan">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Features
                                    </th>
                                    <th scope="col">
                                        Silver Plan
                                    </th>
                                    <th scope="col">
                                        Gold Plan
                                    </th>
                                    <th scope="col">
                                        Diamond Plan
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        150 keyphrases optimized
                                    </td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        30 pages optimized
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        On-page strategy
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Off-page strategy
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Backlink analysis
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Competitor backlink analysis
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Technical Website Analysis & Opportunity Report
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Keyword research & selection
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Keyword mapping to target pages
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Title Tags & Meta descriptions
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Robots.txt optimization
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        XML sitemap creation & submission
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Google Business Profile optimization (if needed)
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Canonicalization analysis
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Initial external link analysis and disavow
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Link redirect audit
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Internal linking restructuring & optimization
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Duplicate content analysis
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Header Tags Optimized (Ex. H1s)
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Setup of website sitemap
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Image optimization
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Custom 404 error page setup and optimization
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Schema Implementation (JSON-LD)
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Google Analytics setup w/ conversion tracking
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Google Analytics traffic analysis
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Google Data Studio Reporting Dashboard Setup
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ongoing quarterly keyword ranking reporting
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ongoing monthly traffic, goal & CPL reporting
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ability to check location data accuracy across 40+ local directories
                                    </td>
                                    <td>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('SEO - Silver Plan')" class="theme-btn btn-style-one"><span class="txt">Customize Plan</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('SEO - Gold Plan')" class="theme-btn btn-style-one"><span class="txt">Customize Plan</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="javascript:;" onclick="CTDFn.handlePricePlanService('SEO - Diamond Plan')" class="theme-btn btn-style-one"><span class="txt">Customize Plan</span></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>