@{
    Layout = null;
}
<div class="cities__site__map">
    <div class="auto-container">
        <ul class="item-list">
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>London</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Birmingham</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Manchester</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Liverpool</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Newcastle</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Glasgow</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>London</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Birmingham</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Manchester</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Liverpool</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Newcastle</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Glasgow</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>London</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Birmingham</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Manchester</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Liverpool</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Newcastle</a></li>
            <li><a href="#" class="icon-link"><i class="fas fa-check-circle icon"></i>Glasgow</a></li>

            <!-- Add more cities as needed -->
        </ul>
    </div>
</div>