<div class="reviews-section">
    <div class="review-starts">
        <img src="/images/start.png" />
        <img src="/images/start.png" />
        <img src="/images/start.png" />
        <img src="/images/start.png" />
        @*<img src="/images/start.png" />*@
    </div>
    <h6 class="base-color">CTD rated 4.7/5 based on 64 reviews</h6>
    <span itemscope="" style='display:none' class="rating-desc text-base font-display" itemType="https://schema.org/Product">
        <span itemProp="name" style='display:none'>Creative Think Digital</span>
        <span itemscope="" style='display:none' itemProp="aggregateRating" itemType="https://schema.org/AggregateRating">
            rated <span style='display:none' itemProp="ratingValue">4.7</span>/5 based on<!-- --> <span itemProp="reviewCount">64</span> reviews.<!-- -->
        </span>
    </span>
</div>