<div class="sidebar-form">
    <div class="sidebar-form-text">
        <h6 class="base-color">Request a Quote For Your Web Development Project</h6>
        <span>No Obligation Estimate, Expert Advice</span>
    </div>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="first_name" class="form-label"></label>
            <input type="text" class="form-control" id="first_name" placeholder="First Name" />
        </div>
        <div class="col-md-6">
            <label for="last_name" class="form-label"></label>
            <input type="text" class="form-control" id="last_name" placeholder="Last Name" />
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label"></label>
            <input type="email" class="form-control" id="email" placeholder="Email" />
        </div>
        <div class="col-md-6">
            <label for="phone" class="form-label"></label>
            <input type="tel" class="form-control" id="phone" placeholder="Phone" />
        </div>
        <div class="col-12">
            <label for="about_project" class="form-label"></label>
            <textarea type="text" class="form-control" id="about_project" placeholder="Tell us about your project"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-block theme-btn btn-style-three">
                <span class="txt">Request Free Estimate</span>
            </button>
        </div>
    </form>
</div>