<section class="pricing-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="title">Our Pricing Plans</div>
            <h2>A Monthly Project Fee <br> Price Plans</h2>
        </div>

        <div class="row clearfix">
            <div class="price-block col-lg-12 col-md-12 col-sm-12 base-color">
                <div class="inner-box">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped table-sm it_staff_price_plan">
                            <thead>
                                <tr>
                                    <th>Technologies</th>
                                    <th>Experience</th>
                                    <th>Sub-Framework</th>
                                    <th>Hourly Rate (£)</th>
                                    <th>Daily Rate (£) (after 10% Discount)</th>
                                    <th>Monthly Rate (£) (after 20% Discount)</th>
                                    <th>Yearly Rate (£) (after 30% Discount)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td rowspan="3" class="category_name">ASP.NET</td>
                                    <td>Junior Developer (1 to 3 years)</td>
                                    <td>ASP.NET Core, MVC, WebForms</td>
                                    <td>£25-£35</td>
                                    <td>£200-£280</td>
                                    <td>£1600-£2240</td>
                                    <td>£19200-£26880</td>
                                </tr>
                                <tr>
                                    <td>Mid-Level Developer (3 to 5 years)</td>
                                    <td>-</td>
                                    <td>£40-£55</td>
                                    <td>£320-£440</td>
                                    <td>£2560-£3520</td>
                                    <td>£30720-£42240</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer (6+ years)</td>
                                    <td>-</td>
                                    <td>£60-£75</td>
                                    <td>£480-£600</td>
                                    <td>£3840-£4800</td>
                                    <td>£46080-£57600</td>
                                </tr>

                                <tr>
                                    <td rowspan="3" class="category_name">Python</td>
                                    <td>Junior Developer (1 to 3 years)</td>
                                    <td>Django, Flask, Pyramid</td>
                                    <td>£30-£35</td>
                                    <td>£240-£280</td>
                                    <td>£1920-£2240</td>
                                    <td>£23040-£26880</td>
                                </tr>
                                <tr>
                                    <td>Mid-Level Developer (3 to 5 years)</td>
                                    <td>-</td>
                                    <td>£45-£55</td>
                                    <td>£360-£440</td>
                                    <td>£2880-£3520</td>
                                    <td>£34560-£42240</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer (6+ years)</td>
                                    <td>-</td>
                                    <td>£60-£75</td>
                                    <td>£480-£600</td>
                                    <td>£3840-£4800</td>
                                    <td>£46080-£57600</td>
                                </tr>

                                <!-- Filling data for PHP, JavaScript, Flutter, Android, and iOS rows -->
                                <!-- PHP -->
                                <tr>
                                    <td rowspan="3" class="category_name">PHP</td>
                                    <td>Junior Developer (1 to 3 years)</td>
                                    <td>WordPress, Laravel, CodeIgniter, Symfony</td>
                                    <td>£25-£35</td>
                                    <td>£200-£280</td>
                                    <td>£1600-£2240</td>
                                    <td>£19200-£26880</td>
                                </tr>
                                <tr>
                                    <td>Mid-Level Developer (3 to 5 years)</td>
                                    <td>-</td>
                                    <td>£40-£50</td>
                                    <td>£320-£400</td>
                                    <td>£2560-£3200</td>
                                    <td>£30720-£38400</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer (6+ years)</td>
                                    <td>-</td>
                                    <td>£50-£65</td>
                                    <td>£400-£520</td>
                                    <td>£3200-£4160</td>
                                    <td>£38400-£49920</td>
                                </tr>

                                <!-- JavaScript -->
                                <tr>
                                    <td rowspan="3" class="category_name">JavaScript</td>
                                    <td>Junior Developer (1 to 3 years)</td>
                                    <td>React, Angular, Vue.js</td>
                                    <td>£30-£40</td>
                                    <td>£240-£320</td>
                                    <td>£1920-£2560</td>
                                    <td>£23040-£30720</td>
                                </tr>
                                <tr>
                                    <td>Mid-Level Developer (3 to 5 years)</td>
                                    <td>-</td>
                                    <td>£45-£60</td>
                                    <td>£360-£480</td>
                                    <td>£2880-£3840</td>
                                    <td>£34560-£46080</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer (6+ years)</td>
                                    <td>-</td>


                                    <td>£70-£80</td>
                                    <td>£560-£640</td>
                                    <td>£4480-£5120</td>
                                    <td>£53760-£61440</td>
                                </tr>

                                <!-- Flutter -->
                                <tr>
                                    <td rowspan="3" class="category_name">Flutter</td>
                                    <td>Junior Developer (1 to 3 years)</td>
                                    <td>Flutter</td>
                                    <td>£35-£40</td>
                                    <td>£280-£320</td>
                                    <td>£2240-£2560</td>
                                    <td>£26880-£30720</td>
                                </tr>
                                <tr>
                                    <td>Mid-Level Developer (3 to 5 years)</td>
                                    <td>-</td>
                                    <td>£40-£55</td>
                                    <td>£320-£440</td>
                                    <td>£2560-£3520</td>
                                    <td>£30720-£42240</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer (6+ years)</td>
                                    <td>-</td>
                                    <td>£60-£75</td>
                                    <td>£480-£600</td>
                                    <td>£3840-£4800</td>
                                    <td>£46080-£57600</td>
                                </tr>

                                <!-- Android -->
                                <tr>
                                    <td rowspan="3" class="category_name">Android</td>
                                    <td>Junior Developer (1 to 3 years)</td>
                                    <td>Android Framework</td>
                                    <td>£25-£30</td>
                                    <td>£200-£240</td>
                                    <td>£1600-£1920</td>
                                    <td>£19200-£23040</td>
                                </tr>
                                <tr>
                                    <td>Mid-Level Developer (3 to 5 years)</td>
                                    <td>-</td>
                                    <td>£35-£50</td>
                                    <td>£280-£400</td>
                                    <td>£2240-£3200</td>
                                    <td>£26880-£38400</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer (6+ years)</td>
                                    <td>-</td>
                                    <td>£55-£70</td>
                                    <td>£440-£560</td>
                                    <td>£3520-£4480</td>
                                    <td>£42240-£53760</td>
                                </tr>

                                <!-- iOS -->
                                <tr>
                                    <td rowspan="3" class="category_name">iOS</td>
                                    <td>Junior Developer (1 to 3 years)</td>
                                    <td>iOS Framework</td>
                                    <td>£30-£35</td>
                                    <td>£240-£280</td>
                                    <td>£1920-£2240</td>
                                    <td>£23040-£26880</td>
                                </tr>
                                <tr>
                                    <td>Mid-Level Developer (3 to 5 years)</td>
                                    <td>-</td>
                                    <td>£35-£50</td>
                                    <td>£280-£400</td>
                                    <td>£2240-£3200</td>
                                    <td>£26880-£38400</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer (6+ years)</td>
                                    <td>-</td>
                                    <td>£55-£70</td>
                                    <td>£440-£560</td>
                                    <td>£3520-£4480</td>
                                    <td>£42240-£53760</td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <div class="btn-box btn btn-sm pull-right">
                            <a href="javascript:;" onclick="CTDFn.handleITStaffService('ITStaff')" class="theme-btn btn-style-one"><span class="txt">Send Request</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>